path {
    stroke: black;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.2px;
}

a g:hover > path {
    pointer-events: all;
    stroke: #424242;
}