path {
    stroke: black;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.2px;
}

a g > path {
    fill: transparent;
}

a g:hover > path {
    stroke: #424242;
}

a g:active > path {
    stroke: #616161;
}