@page
@model AdventCalendarWebApp.Pages._2020.Igloo.TaskBoard.IndexModel
@{
    ViewData["Title"] = "Task Board";
}

<div class="btn-group-vertical d-block">
    <a asp-page="../Index" class="btn btn-light">Go back to the igloos entry</a>
</div>
<hr />
@if (Model.InvalidDoor.HasValue)
{
    <div class="alert alert-warning">You cannot prematurely view the note @(Model.InvalidDoor).</div>
}
<svg class="img-fluid" viewBox="61.071 10.012 338.311 427.415" xmlns="http://www.w3.org/2000/svg">
    <g>
        <title>TaskBoard</title>
        <path d="M 74.49 36.054 C 74.49 70.453 74.49 105.511 74.49 140.476 C 74.49 149.828 74.83 159.015 74.83 168.367 C 74.83 171.48 73.832 177.255 75.17 179.932 C 76.584 182.76 74.472 187.703 75.51 190.816 C 76.905 195 74.116 200.578 75.51 204.762 C 76.438 207.544 75.121 211.028 75.85 213.946 C 78.82 225.824 74.588 239.509 77.551 251.361 C 78.618 255.629 76.484 260.698 77.551 264.966 C 78.782 269.889 76.722 275.935 77.891 280.612 C 80.196 289.831 78.571 302.723 78.571 311.905 C 78.571 318.432 76.914 327.34 78.912 333.333 C 80.728 338.782 77.959 345.984 78.912 351.701 C 79.692 356.383 78.912 362.359 78.912 367.347 C 78.912 378.784 78.912 389.461 78.912 400.68 C 78.912 406.252 78.912 412.057 78.912 417.687 C 78.912 419.481 78.706 423.264 79.932 424.49 C 81.674 426.231 88.598 424.15 90.816 424.15 C 97.338 424.15 105.013 424.88 111.565 426.19 C 114.198 426.717 117.796 425.282 120.068 425.85 C 124.474 426.952 129.777 425.85 134.354 425.85 C 144.227 425.85 154.074 425.85 163.946 425.85 C 171.697 425.85 179.07 425.85 186.735 425.85 C 189.699 425.85 192.959 424.918 195.918 425.51 C 202.182 426.763 211.771 426.213 218.027 425.17 C 229.729 423.22 242.239 425.806 254.082 424.49 C 261.463 423.67 269.375 424.83 276.871 424.83 C 303.723 424.83 330.311 427.551 357.143 427.551 C 365.058 427.551 373.388 427.891 381.633 427.891 C 385.896 427.891 389.516 428.851 392.177 426.19 C 393.931 424.437 391.941 416.744 391.497 414.966 C 388.829 404.294 389.456 392.566 389.456 381.293 C 389.456 362.367 391.156 343.282 391.156 324.15 C 391.156 317.172 391.956 309.558 390.816 302.721 C 389.967 297.628 391.325 292.171 390.476 287.075 C 388.131 273.003 390.789 257.999 388.435 243.878 C 386.124 230.007 390.508 214.786 387.755 201.02 C 385.058 187.536 386.735 171.39 386.735 157.483 C 386.735 132.293 386.395 107.187 386.395 81.973 C 386.395 67.46 387.415 53.289 387.415 39.116 C 387.415 34.179 388.867 26.034 386.735 21.769 C 386.093 20.485 384.407 21.481 383.673 20.748 C 381.762 18.837 371.315 20.068 367.347 20.068 C 356.059 20.068 344.359 20.408 332.993 20.408 C 328.77 20.408 322.005 21.734 318.027 20.408 C 313.463 18.887 306.457 21.682 301.361 20.408 C 291.622 17.974 279.727 18.367 269.388 18.367 C 264.757 18.367 259.206 17.597 254.762 18.707 C 244.361 21.308 232.356 17.166 222.109 19.728 C 214.461 21.64 204.543 21.429 196.599 21.429 C 193.979 21.429 188.909 20.364 186.735 21.088 C 183.915 22.028 180.469 21.088 177.551 21.088 C 171.491 21.088 165.252 22.1 159.184 21.088 C 156.434 20.63 152.247 21.621 149.32 22.109 C 139.505 23.745 129.982 23.936 120.408 25.85 C 116.698 26.592 111.769 25.238 108.503 26.871 C 106.966 27.639 103.795 26.477 102.721 27.551 C 101.944 28.328 98.074 27.324 96.939 27.891 C 95.319 28.701 90.955 26.392 89.456 27.891 C 89.011 28.336 85.791 27.891 85.034 27.891 C 83.895 27.891 76.23 28.532 75.17 29.592 C 73.195 31.567 75.548 36.016 73.81 37.755" />
        <path d="M 378.114 24.456 C 374.511 24.456 373.097 25.629 371.45 27.276 C 367.712 31.014 373.892 39.126 378.114 37.015 C 379.832 36.156 380.932 35.735 382.215 34.452 C 382.926 33.741 382.984 32.069 382.984 30.864 C 382.984 25.968 379.684 24.456 375.807 24.456" />
        <path d="M 83.113 32.402 C 78.824 31.789 79.148 33.412 77.731 36.246 C 77.384 36.94 77.23 39.589 77.731 40.091 C 78.738 41.097 80.403 42.507 81.319 43.423 C 82.826 44.93 87.222 42.381 87.727 41.372 C 89.168 38.489 88.751 34.452 86.701 32.402 C 85.502 31.203 80.569 31.633 79.525 31.633" />
        <path d="M 86.445 415.569 C 81.807 414.99 77.765 419.815 83.113 422.489 C 85.929 423.897 91.294 419.905 88.239 416.851 C 87.035 415.647 85.427 415.313 83.882 415.313" />
        <path d="M 383.24 417.107 C 380.098 417.556 379.517 418.145 378.37 420.439 C 378.197 420.785 377.424 422.568 377.858 423.002 C 378.005 423.15 379.737 425.993 380.677 425.052 C 381.404 424.325 383.92 424.885 384.778 424.027 C 387.83 420.975 384.741 416.851 381.19 416.851" />
    </g>
    <g>
        <title>Title</title>
        <path d="M 134.373 34.452 C 134.373 36.85 133.845 41.853 134.886 43.935 C 135.458 45.079 133.92 46.814 134.886 47.78 C 135.414 48.308 136.408 47.252 136.936 47.78 C 137.497 48.341 139.741 48.036 140.781 48.036 C 142.2 48.036 145 49.002 146.419 48.292 C 147.569 47.717 150.346 46.411 152.058 47.267 C 152.939 47.708 152.058 52.054 152.058 52.906 C 152.058 57.281 150.112 65.418 152.058 69.309 C 152.371 69.935 151.164 71.747 151.802 72.384 C 153.366 73.949 157.464 71.709 159.49 72.384 C 160.573 72.745 163.164 72.812 163.591 72.384 C 164.755 71.221 168.385 72.461 169.742 71.103 C 170.642 70.204 169.742 66.739 169.742 65.464 C 169.742 60.942 169.486 56.542 169.486 52.137 C 169.486 50.843 168.62 48.487 169.23 47.267 C 169.486 46.755 171.512 47.523 172.305 47.523 C 174.06 47.523 182.248 48.601 183.326 47.523 C 185.308 45.542 184.352 40.939 184.352 37.528 C 184.352 36.229 184.961 32.852 184.352 31.633 C 183.474 29.878 179.739 31.633 177.688 31.633 C 173.336 31.633 167.073 32.877 162.822 33.94 C 161.419 34.29 158.123 35.192 156.671 34.708 C 154.703 34.052 147.626 34.233 145.65 35.221 C 144.518 35.787 142.143 34.628 141.55 35.221 C 141.146 35.625 138.394 35.261 137.961 35.477 C 136.853 36.031 134.47 34.355 133.348 35.477" />
        <path d="M 183.839 36.759 C 190.019 29.342 206.05 30.603 209.469 40.86 C 212.011 48.485 210.792 57.2 206.137 64.183 C 204.608 66.476 201.803 67.375 199.473 68.54 C 197.774 69.39 196.34 70.491 194.604 71.359 C 187.941 74.691 177.581 70.74 174.1 67.258 C 170.538 63.696 169.91 52.226 173.843 48.292" />
        <path d="M 189.221 51.112 C 183.848 54.949 190.554 61.568 194.091 58.032 C 195.298 56.824 196.538 52.976 194.347 51.881 C 193.562 51.488 191.14 48.936 189.99 50.086 C 189.227 50.849 188.337 51.484 187.427 52.393" />
        <path d="M 245.607 72.641 C 245.607 68.906 245.927 63.797 244.326 60.595 C 242.977 57.897 245.105 53.44 243.813 50.855 C 242.683 48.595 244.457 44.711 243.3 42.397 C 242.581 40.958 240.942 33.223 242.019 32.145 C 244.689 29.476 251.601 27.877 256.372 29.07 C 261.235 30.286 266.344 29.815 270.212 33.683 C 279.437 42.909 279.013 64.267 267.393 70.078 C 264.904 71.322 261.234 72.388 258.166 73.922 C 256.893 74.559 254.805 73.552 253.552 74.179 C 252.732 74.589 249.015 75.113 248.17 74.691 C 247.119 74.166 245.804 73.666 244.838 73.666" />
        <path d="M 254.578 58.032 C 254.578 55.399 254.367 51.76 253.552 49.318 C 253.421 48.922 252.672 47.123 253.04 46.755 C 254.169 45.626 260.215 45.472 261.241 46.498 C 261.9 47.157 262.552 48.834 263.292 49.574 C 263.495 49.777 264.35 53.642 264.061 53.931 C 263.32 54.671 263.765 56.79 262.779 57.775 C 260.781 59.774 259.525 60.3 256.884 61.62 C 256.487 61.818 253.962 62.285 253.809 62.132 C 253.574 61.898 253.552 58.645 253.552 58.288" />
        <path d="M 273.8 43.166 C 277.017 33.514 291.838 26.299 301.993 31.377 C 308.278 34.519 310.721 46.697 308.913 53.931 C 308.112 57.134 308.034 61.072 306.606 63.927 C 304.3 68.54 300.002 71.458 295.586 73.666 C 293.422 74.748 290.321 74.132 288.153 73.41 C 283.042 71.706 273.544 70.456 273.544 64.439" />
        <path d="M 290.46 47.78 C 288.046 49.121 284.028 53.919 288.153 55.981 C 288.813 56.311 292.142 58.912 293.279 57.775 C 295.313 55.742 298.736 47.78 293.535 47.78 C 291.732 47.78 289.794 49.574 287.64 49.574" />
    </g>
    <a asp-page="Note01">
        <g>
            <title>Note01</title>
            <path d="M 268.674 334.322 C 271.443 332.592 274.945 328.188 276.363 325.352 C 276.515 325.048 278.901 322.507 279.182 322.789 C 279.709 323.316 279.326 327.116 278.926 327.915 C 276.8 332.168 279.438 338.681 277.388 342.78 C 276.723 344.11 275.594 350.539 275.594 350.213" />
            <path d="M 261.498 318.945 C 262.435 328.32 260.985 337.591 260.985 346.625 C 260.985 348.859 261.362 351.388 260.729 353.289 C 260.62 353.615 260.125 355.248 260.472 355.595 C 261.533 356.656 265.59 355.074 266.624 356.108 C 267.262 356.747 270.052 356.621 271.237 356.621 C 274.74 356.621 279.843 358.469 283.027 356.877 C 283.677 356.552 285.689 357.803 286.359 357.133 C 287.468 356.024 285.725 352.762 286.615 350.982 C 289.245 345.721 286.279 338.406 288.153 332.785 C 289.292 329.366 288.318 325.204 289.178 321.764 C 289.302 321.269 289.935 318.164 289.434 317.663 C 288.474 316.702 281.956 315.764 279.695 316.894 C 278.36 317.561 273.858 316.58 272.775 317.663 C 270.682 319.756 262.984 318.688 261.241 318.688" />
        </g>
    </a>
    <a asp-page="Note02">
        <g>
            <title>Note02</title>
            <path d="M 104.899 106.729 C 105.895 104.735 110.036 99.307 112.588 101.859 C 112.955 102.226 114.452 101.673 114.894 102.115 C 115.527 102.748 115.643 103.633 116.176 104.166 C 116.945 104.935 116.012 108.687 115.407 109.292 C 114.571 110.128 114.168 111.812 113.357 112.623 C 111.236 114.744 106.437 118.749 106.437 120.569 C 106.437 120.8 108.978 119.978 109.512 119.8 C 110.518 119.464 111.955 120.372 113.1 119.8 C 114.667 119.016 118.739 121.273 118.739 119.544" />
            <path d="M 101.567 97.246 C 100.014 100.868 100.285 105.614 100.285 109.548 C 100.285 113.633 99.26 116.356 99.26 119.8 C 99.26 120.915 98.897 123.537 99.516 124.157 C 100.362 125.003 102.704 124.012 103.617 124.926 C 104.825 126.134 106.009 124.954 107.462 125.438 C 112.255 127.036 122.883 126.676 125.915 123.644 C 127.683 121.876 126.428 112.891 126.428 109.804 C 126.428 106.839 125.915 104.116 125.915 101.346 C 125.915 100.815 126.253 98.352 125.915 98.014 C 125.063 97.162 122.427 97.502 121.046 97.502 C 118.045 97.502 114.337 97.999 111.306 96.989 C 107.143 95.601 101.606 98.014 99.516 98.014" />
        </g>
    </a>
    <a asp-page="Note03">
        <g>
            <title>Note03</title>
            <path d="M 112.844 302.798 C 116.081 295.245 126.252 301.422 128.478 305.873 C 130.275 309.467 123.93 311.992 122.327 312.793 C 122.118 312.898 117.714 313.306 117.714 313.306 C 117.714 313.306 122.684 312.381 123.096 312.793 C 124.276 313.973 127.275 314.666 128.478 315.869 C 129.521 316.911 129.099 321.581 127.709 322.276 C 124.177 324.042 119.274 324.35 116.432 321.508" />
            <path d="M 107.974 296.646 C 108.91 300.39 108.487 303.496 108.487 307.411 C 108.487 308.346 109.252 310.238 108.743 311.256 C 107.973 312.796 107.787 318.826 108.487 320.226 C 109.259 321.769 107.055 326.74 108.487 328.171 C 111.02 330.704 119.462 329.196 122.84 329.196 C 124.074 329.196 127.261 329.645 127.966 328.94 C 129.016 327.89 132.907 330.334 133.861 328.428 C 136.273 323.604 132.179 315.787 133.861 310.743 C 134.851 307.771 134.373 303.808 134.373 300.747 C 134.373 300.09 134.517 297.559 134.117 297.159 C 133.531 296.573 127.42 296.423 126.94 296.903 C 126.1 297.743 123.992 296.839 122.84 297.415 C 121.678 297.996 119.871 297.105 118.739 297.672 C 115.386 299.348 110.424 297.928 107.205 297.928" />
        </g>
    </a>
    <a asp-page="Note04">
        <g>
            <title>Note04</title>
            <path d="M 194.604 181.824 C 194.604 184.875 195.397 189.976 194.091 192.589 C 193.434 193.904 194.492 196.144 193.835 197.459 C 193.623 197.882 192.749 202.268 193.066 202.585 C 194.825 204.344 201.2 201.559 203.318 201.559 C 205.924 201.559 212.224 202.968 211.263 201.047" />
            <path d="M 201.524 194.896 C 201.524 197.797 202.056 202.288 201.011 204.379 C 200.391 205.619 201.454 208.036 200.755 208.736 C 200.494 208.997 201.142 211.042 200.498 211.042 C 199.725 211.042 200.242 209.509 200.242 208.736" />
            <path d="M 186.402 170.291 C 187.961 175.746 186.658 182.111 186.658 187.719 C 186.658 189.667 187.237 192.969 186.402 194.639 C 184.949 197.546 187.183 202.547 186.146 205.66 C 185.351 208.043 185.017 215.193 186.146 217.45 C 186.46 218.08 185.94 220.064 186.402 220.526 C 186.994 221.118 191.676 220.964 192.553 220.526 C 195.974 218.815 202.876 219.244 206.65 219.244 C 208.393 219.244 211.27 219.625 212.544 218.988 C 214.631 217.945 218.443 220.518 219.721 217.963 C 221.777 213.849 220.49 204.823 220.49 199.509 C 220.49 198.321 219.876 193.972 220.746 193.101 C 221.169 192.679 220.638 186.438 220.49 186.438 C 217.541 186.438 211.768 189.766 207.675 187.719 C 206.561 187.163 206.906 185.05 206.906 183.618 C 206.906 181.601 207.32 174.037 206.393 173.11 C 206.137 172.854 206.65 171.829 206.393 171.572 C 205.726 170.905 202.394 171.829 200.755 171.829 C 195.636 171.829 190.837 172.341 185.889 172.341" />
            <path d="M 204.855 172.341 C 209.303 175.121 212.422 179.969 216.645 182.081 C 218.081 182.799 220.746 186.389 220.746 186.181" />
        </g>
    </a>
    <a asp-page="Note05">
        <g>
            <title>Note05</title>
            <path d="M 318.704 142.105 C 320.361 142.105 322.366 143.783 324.973 142.914 C 325.58 142.711 326.943 143.168 327.399 142.711 C 328.486 141.625 330.995 141.587 331.848 139.88 C 333.699 136.179 331.142 131.288 328.613 128.758 C 326.761 126.907 324.425 127.141 321.94 127.141 C 321.437 127.141 319.715 128.354 319.715 128.354 C 319.715 128.354 319.715 125.017 319.715 124.714 C 319.715 121.031 319.825 117.555 318.3 114.199 C 317.317 114.401 318.991 114.257 319.108 114.199 C 320.065 113.721 321.302 113.592 322.546 113.592 C 325.967 113.592 329.247 112.985 332.253 112.985" />
            <path d="M 308.593 109.346 C 307.572 119.554 308.593 130.495 308.593 140.891 C 308.593 143.253 307.898 150.307 309.2 151.609 C 310.033 152.442 313.056 152.013 314.255 152.013 C 319.149 152.013 324.184 151.204 328.815 151.204 C 333.521 151.204 342.824 152.969 346.003 149.789 C 346.569 149.223 345.949 145.527 345.801 144.936 C 344.901 141.336 345.801 136.093 345.801 132.398 C 345.801 125.723 346.408 119.181 346.408 112.581 C 346.408 111.797 347.249 106.951 346.812 106.515 C 345.034 104.736 337.597 106.269 335.488 107.323 C 334.189 107.973 329.584 107.58 328.208 107.121 C 324.124 105.76 318.626 106.312 314.255 106.312 C 312.225 106.312 308.353 105.946 307.178 107.121 C 306.853 107.446 308.189 109.874 308.189 110.559" />
        </g>
    </a>
    <a asp-page="Note06">
        <g>
            <title>Note06</title>
            <path d="M 109.814 177.088 C 104.432 177.857 104.027 182.875 100.714 186.188 C 99.988 186.915 100.386 188.741 99.703 189.423 C 99.351 189.776 99.501 191.686 99.501 192.254 C 99.501 195.59 100.333 197.655 103.545 198.725 C 106.229 199.62 108.45 194.986 107.387 192.861 C 106.505 191.095 106.145 190.762 103.95 190.03 C 103.069 189.736 99.703 190.003 99.703 190.637" />
            <path d="M 92.423 172.437 C 92.423 177.137 93.245 183.102 92.221 187.199 C 91.732 189.157 93.005 191.722 92.423 193.468 C 91.573 196.019 91.686 202.508 92.828 204.792 C 93.242 205.621 96.996 206.083 97.681 205.399 C 98.39 204.689 100.887 205.428 101.523 204.792 C 103.714 202.601 110.995 204.909 113.656 203.579 C 114.261 203.276 116.181 204.289 116.892 203.579 C 118.53 201.94 117.854 198.621 118.914 196.501 C 120.017 194.295 119.925 191.585 119.925 189.019 C 119.925 187.571 120.827 183.947 120.329 182.953 C 118.253 178.8 115.208 174.798 112.241 171.831 C 111.742 171.332 109.142 172.304 108.196 171.831 C 106.108 170.786 101.446 172.071 99.501 173.044 C 97.868 173.861 93.968 173.651 92.626 173.651" />
            <path d="M 112.038 172.842 C 112.895 176.268 110.136 181.574 111.432 184.166 C 112.271 185.845 117.506 184.158 118.105 183.559 C 118.3 183.364 119.318 183.157 119.318 182.953" />
        </g>
    </a>
    <a asp-page="Note07">
        <g>
            <title>Note07</title>
            <path d="M 319.513 238.36 C 322.873 237.94 326.243 237.956 329.624 237.956 C 330.374 237.956 332.494 237.832 332.859 238.562 C 333.074 238.992 332.19 240.102 332.05 240.382 C 331.117 242.249 329.962 244.154 329.017 246.044 C 327.401 249.276 327.3 255.445 324.973 257.773 C 324.339 258.406 324.527 259.997 323.355 259.997" />
            <path d="M 322.546 248.471 C 326.791 249.077 329.953 250.291 334.275 250.291" />
            <path d="M 311.424 230.473 C 311.672 232.95 311.659 235.627 312.435 237.956 C 312.95 239.499 311.912 241.56 312.638 243.011 C 313.204 244.143 312.071 246.125 312.638 247.257 C 313.453 248.889 313.649 252.657 313.649 254.335 C 313.649 257.866 312.99 264.394 315.064 266.468 C 315.921 267.325 319.453 267.277 320.928 267.277 C 325.924 267.277 330.119 267.277 335.084 267.277 C 336.537 267.277 340.35 267.875 341.352 266.873 C 342.683 265.542 342.363 262.487 342.363 260.402 C 342.363 254.85 343.904 246.62 342.161 241.393 C 341.373 239.03 342.161 235.031 342.161 232.496 C 342.161 232.044 342.448 229.952 342.161 229.665 C 340.812 228.315 337.676 229.647 335.69 228.654 C 334.059 227.838 329.398 227.856 327.804 228.654 C 326.754 229.178 325.192 228.85 323.962 229.26 C 319.626 230.705 316.651 231.282 311.626 231.282" />
        </g>
    </a>
    <a asp-page="Note08">
        <g>
            <title>Note08</title>
            <path d="M 213.956 92.966 C 213.025 93.099 209.153 95.645 210.518 97.01 C 213.147 99.639 222.581 102.074 220.427 108.537 C 220.079 109.581 219.28 110.022 218.809 110.963 C 218.242 112.098 216.399 112.575 215.169 112.985 C 212.026 114.033 205.801 109.816 208.698 106.919 C 209.824 105.793 211.072 103.305 212.742 102.47 C 215.336 101.173 218.246 100 220.427 97.819 C 221.155 97.091 223.548 93.458 222.449 92.359 C 221.139 91.049 214.857 88.13 213.147 91.55 C 212.805 92.234 211.327 92.75 211.327 93.775" />
            <path d="M 200.812 83.26 C 200.812 85.504 200.924 88.787 200.205 90.944 C 199.788 92.195 200.59 93.814 200.003 94.988 C 199.054 96.885 200.568 100.126 199.598 102.066 C 198.966 103.331 200.205 107.276 200.205 108.739 C 200.205 111.35 199.38 117.013 200.812 118.445 C 201.451 119.085 203.396 118.565 204.249 118.85 C 207.07 119.79 211.598 118.648 214.765 118.648 C 217.411 118.648 222.16 118.503 224.471 119.659 C 225.114 119.98 227.276 120.494 227.706 120.063 C 230.287 117.482 229.58 109.538 230.538 105.706 C 231.523 101.764 231.926 97.268 233.571 93.977 C 233.885 93.348 235.065 91.505 234.582 90.539 C 233.874 89.124 231.765 87.318 230.538 86.091 C 229.083 84.636 228.291 82.035 226.695 81.237 C 224.821 80.3 221.424 81.035 219.213 81.035 C 213.124 81.035 206.471 82.653 200.003 82.653" />
            <path d="M 225.078 81.237 C 225.354 83.725 224.875 86.288 224.875 88.922 C 224.875 89.322 224.132 90.807 224.471 91.146 C 225.989 92.664 230.844 92.966 233.166 92.966" />
        </g>
    </a>
    <a asp-page="Note09">
        <g>
            <title>Note09</title>
            <path d="M 278.463 172.033 C 276.304 172.033 273.031 173.19 272.194 174.864 C 271.867 175.518 271.427 177.333 271.992 177.897 C 272.733 178.638 273.508 179.615 274.216 180.324 C 274.525 180.632 275.972 180.21 276.238 180.121 C 278.774 179.276 278.835 177.322 280.283 175.875 C 280.624 175.533 279.07 173.044 279.07 173.044 C 279.07 173.044 279.349 176.512 279.474 176.886 C 280.324 179.435 279.967 182.928 281.092 185.177 C 281.414 185.822 281.419 188.085 280.889 188.615 C 278.345 191.16 275.596 191.41 273.205 189.019 C 272.725 188.539 271.79 188.408 271.79 187.604" />
            <path d="M 264.51 170.617 C 265.271 176.706 265.521 183.401 265.521 189.423 C 265.521 191.549 264.563 195.745 265.925 197.108 C 267.872 199.054 272.181 197.103 274.621 197.917 C 275.725 198.284 278.596 198.457 279.676 197.917 C 281.283 197.113 284.593 198.46 285.945 197.108 C 287.342 195.711 285.748 193.256 286.552 191.648 C 288.11 188.532 287.158 182.337 287.158 178.706 C 287.158 176.662 286.515 173.153 287.158 171.224 C 287.307 170.779 287.74 168.57 287.36 168.191 C 286.075 166.905 285.442 167.821 283.518 167.18 C 279.393 165.805 273.762 165.781 269.565 167.18 C 268.295 167.603 264.828 166.66 263.903 167.584 C 262.925 168.562 264.308 170.81 264.308 171.224" />
        </g>
    </a>
    <a asp-page="Note10">
        <g>
            <title>Note10</title>
            <path d="M 102.534 384.158 C 102.534 389.206 102.332 393.453 102.332 398.516" />
            <path d="M 115.678 383.349 C 109.802 383.349 107.757 392.379 110.016 396.898 C 110.736 398.338 115.089 401.136 117.094 400.133 C 121.851 397.755 123.894 392.704 121.543 388 C 120.88 386.676 121.194 384.82 120.127 383.754 C 118.435 382.062 115.997 381.934 114.263 381.934" />
            <path d="M 96.468 375.665 C 94.773 382.443 95.659 390.515 95.659 397.505 C 95.659 398.973 94.635 403.761 95.659 404.784 C 96.564 405.69 99.254 405.391 100.714 405.391 C 102.686 405.391 107.035 405.316 108.803 406.2 C 109.87 406.733 111.643 405.598 112.847 406.2 C 113.567 406.56 117.885 406.218 117.903 406.2 C 117.939 406.163 119.613 406.568 119.723 406.604 C 120.678 406.923 124.049 406.727 124.171 406.604 C 125.72 405.056 127.967 407.709 129.227 405.189 C 129.692 404.258 128.614 401.555 129.227 400.942 C 129.741 400.428 129.429 398.048 129.429 397.1 C 129.429 395.274 129.547 390.999 130.44 389.214 C 130.872 388.351 130.009 386.841 130.44 385.978 C 130.872 385.114 131.9 380.202 131.451 379.305 C 130.459 377.32 128.354 375.197 127.002 373.845 C 126.062 372.905 126.249 371.272 125.385 370.408 C 124.827 369.85 123.095 370.14 122.554 369.599 C 121.782 368.827 117.454 369.194 116.285 369.194 C 113.074 369.194 108.099 368.94 105.163 370.408 C 104.446 370.766 102.999 370.348 102.534 370.812 C 101.746 371.6 98.364 370.471 97.277 371.014 C 96.069 371.618 95.861 376.255 95.861 377.687" />
            <path d="M 121.543 371.621 C 121.543 373.898 119.817 377.876 120.734 379.71 C 121.243 380.728 123.042 380.257 123.969 380.721 C 125.684 381.578 129.926 382.338 131.856 382.338" />
        </g>
    </a>
    <a asp-page="Note11">
        <g>
            <title>Note11</title>
            <path d="M 167.446 336.233 C 168.239 341.787 167.648 347.401 167.648 353.017" />
            <path d="M 175.737 336.031 C 174.36 342.228 175.535 349.205 175.535 355.444" />
            <path d="M 158.548 329.358 C 158.548 337.368 158.548 345.014 158.548 352.815 C 158.548 354.16 157.852 358.185 158.751 359.083 C 159.734 360.067 162.185 359.083 163.604 359.083 C 167.305 359.083 170.744 360.208 174.726 358.881 C 177.258 358.037 180.359 360.109 182.814 358.881 C 183.992 358.292 182.814 352.797 182.814 351.601 C 182.814 345.684 182.41 339.608 182.41 333.806 C 182.41 331.775 182.979 327.904 181.803 326.729 C 181.486 326.411 178.492 327.133 177.961 327.133 C 174.079 327.133 169.033 326.441 165.626 328.144 C 164.067 328.924 158.527 328.549 158.751 328.549" />
        </g>
    </a>
    <a asp-page="Note12">
        <g>
            <title>Note12</title>
            <path d="M 228.718 375.059 C 228.297 378.42 229.122 381.822 229.122 385.169 C 229.122 386.129 228.811 388.296 229.324 388.809 C 229.509 388.994 229.324 390.34 229.324 390.629 C 229.324 392.004 228.92 394.912 228.92 395.887" />
            <path d="M 235.188 375.665 C 236.861 375.108 237.597 374.856 239.233 374.856 C 240.672 374.856 242.406 374.724 243.479 375.261 C 249.793 378.417 242.967 387.003 241.457 390.023 C 241.034 390.87 240.167 391.187 239.839 391.843 C 239.297 392.927 236.069 395.221 236.806 396.696 C 237.295 397.673 239.293 396.726 240.042 397.1 C 243.039 398.599 246.429 396.696 249.141 396.696" />
            <path d="M 217.596 368.79 C 217.596 370.973 218.067 373.91 218.607 376.07 C 219.187 378.392 218.451 381.061 219.213 383.349 C 220.685 387.765 218.892 393.389 220.022 397.909 C 220.535 399.962 219.438 405.009 220.831 406.402 C 222.038 407.609 224.099 406.519 225.482 407.211 C 228.183 408.562 236.018 407.743 238.828 406.807 C 239.923 406.442 241.345 407.087 242.468 406.807 C 245.151 406.136 249.101 405.998 251.77 405.998 C 253.519 405.998 256.307 406.257 257.635 405.593 C 259.078 404.871 257.904 398.852 257.432 397.909 C 256.458 395.959 257.379 392.949 256.421 391.034 C 254.343 386.877 255.079 380.942 253.59 376.474 C 252.858 374.276 254.065 370.68 252.579 369.194 C 251.204 367.82 245.676 368.992 243.277 368.992 C 240.115 368.992 236.33 368.207 233.369 369.194 C 231.513 369.813 229.248 368.727 227.504 369.599 C 225.718 370.492 223.461 368.587 221.64 369.194 C 219.84 369.794 219.65 370.61 217.596 370.61" />
        </g>
    </a>
    <a asp-page="Note13">
        <g>
            <title>Note13</title>
            <path d="M 246.108 132.196 C 246.936 135.923 246.715 139.609 246.715 143.116" />
            <path d="M 250.961 132.398 C 253.735 130.814 255.815 131.59 257.23 133.005 C 258.553 134.328 253.076 137.033 253.59 138.06 C 254.217 139.313 257.451 139.292 258.646 140.487 C 261.351 143.192 257.413 146.351 254.601 146.351" />
            <path d="M 238.222 127.343 C 238.824 128.948 238.134 131.616 238.828 133.005 C 240.321 135.991 240.042 143.135 240.042 146.553 C 240.042 147.891 239.367 152.99 240.648 153.631 C 241.635 154.124 244.172 153.631 245.299 153.631 C 248.204 153.631 252.31 153.518 255.006 152.62 C 256.764 152.034 258.715 152.787 260.263 152.013 C 262.227 151.031 265.248 152.489 266.734 151.002 C 267.409 150.327 267.139 148.166 267.139 147.16 C 267.139 145.871 266.937 142.941 266.937 140.891 C 266.937 138.233 266.734 135.233 266.734 132.803 C 266.734 132.515 267.287 131.131 266.937 130.781 C 264.234 128.078 260.965 125.214 258.443 122.692 C 258.157 122.406 252.709 122.829 252.175 123.096 C 249.614 124.377 245.873 123.618 243.277 124.916 C 242.106 125.502 240.564 124.799 239.637 125.725 C 239.217 126.145 237.526 125.701 237.211 126.332 C 236.8 127.153 237.211 127.986 237.211 128.758" />
            <path d="M 257.837 124.512 C 257.427 125.947 257.381 131.134 258.443 132.196 C 258.815 132.568 263.22 132.398 263.701 132.398" />
        </g>
    </a>
    <a asp-page="Note14">
        <g>
            <title>Note14</title>
            <path d="M 216.585 251.504 C 216.585 253.047 216.648 256.08 217.393 257.571 C 217.702 258.188 217.191 259.288 217.191 259.795 C 217.191 262.661 216.989 265.848 216.989 268.692" />
            <path d="M 222.651 250.695 C 222.986 253.372 222.853 256.087 222.853 258.784 C 222.853 259.572 222.579 261.073 223.258 261.413 C 224.373 261.97 227.004 261.21 228.111 261.21 C 229.517 261.21 230.95 261.405 231.751 260.604" />
            <path d="M 227.1 256.357 C 227.563 260.527 226.493 265.19 226.493 268.895" />
            <path d="M 208.091 245.64 C 208.091 253.21 207.485 260.401 207.485 267.884 C 207.485 269.563 206.834 274.513 207.889 275.568 C 209.18 276.858 213.839 275.77 215.573 275.77 C 219.693 275.77 223.574 275.568 227.706 275.568 C 229.041 275.568 231.498 276.098 232.56 275.568 C 233.878 274.909 237.171 276.416 238.222 275.366 C 238.605 274.983 239.194 274.192 239.637 273.748 C 239.982 273.403 239.637 271.031 239.637 270.512 C 239.637 267.714 239.637 264.9 239.637 262.019 C 239.637 256.92 240.966 248.586 237.817 245.438 C 236.343 243.963 232.225 244.967 230.335 244.022 C 227.7 242.704 219.074 242.316 216.382 243.213 C 215.227 243.598 212.899 242.652 212.136 243.415 C 210.948 244.603 207.982 243.727 206.676 245.033 C 205.85 245.859 207.08 247.542 207.08 248.066" />
        </g>
    </a>
    <a asp-page="Note15">
        <g>
            <title>Note15</title>
            <path d="M 328.208 331.38 C 328.208 336.645 328.41 341.671 328.41 346.95 C 328.41 348.381 329.315 351.41 328.613 352.815 C 327.866 354.307 327.804 358.433 327.804 359.892" />
            <path d="M 340.746 359.69 C 340.746 360.968 345.495 360.349 346.812 359.69 C 349.744 358.224 351.778 355.376 350.452 351.399 C 349.113 347.383 344.104 345.374 340.341 344.119 C 338.726 343.581 337.786 344.928 336.701 344.928 C 336.465 344.928 337.056 343.006 337.106 342.906 C 337.543 342.031 337.204 340.388 337.51 339.468 C 338.407 336.778 337.712 332.656 337.712 329.762 C 334.935 329.762 341.654 330.67 341.757 330.773 C 342.233 331.25 344.318 330.975 345.194 330.975 C 348.108 330.975 350.977 330.975 353.688 330.975" />
            <path d="M 317.895 325.111 C 316.541 329.852 318.21 335.288 316.682 339.873 C 316.195 341.333 317.16 343.568 316.48 344.928 C 315.473 346.941 315.955 353.788 316.884 355.646 C 318.253 358.384 315.539 364.209 317.693 366.363 C 319.202 367.872 324.351 366.493 326.388 367.172 C 328.546 367.891 331.056 366.436 333.264 367.172 C 338.123 368.792 343.934 367.981 349.037 367.981 C 350.95 367.981 353.875 368.393 355.508 367.577 C 357.257 366.702 361.368 367.374 363.394 367.374 C 364.253 367.374 365.776 367.868 366.225 366.97 C 366.639 366.142 365.884 363.521 365.618 362.723 C 364.752 360.124 364.405 356.657 364.405 353.826 C 364.405 350.188 363.729 344.53 364.809 341.288 C 365.488 339.252 364.309 336.628 365.214 334.817 C 365.949 333.347 365.416 330.659 365.416 329.155 C 365.416 328.96 365.907 328.029 365.618 327.74 C 364.122 326.243 361.87 323.992 360.159 322.28 C 358.48 320.601 357.555 317.856 355.912 316.213 C 354.803 315.105 352.012 317.499 350.25 316.618 C 348.054 315.52 344.421 316.416 342.161 316.416 C 336.624 316.416 332.136 316.213 326.388 316.213 C 324.912 316.213 320.683 316.574 320.12 316.011 C 320.002 315.893 317.54 315.759 317.491 315.809 C 315.112 318.187 315.671 324.841 315.671 327.538" />
            <path d="M 353.89 316.416 C 352.78 319.005 353.146 324.433 354.496 327.133 C 354.942 328.025 354.412 330.731 355.305 331.177 C 357.495 332.272 360.352 332.189 362.99 332.189" />
        </g>
    </a>
    <a asp-page="Note16">
        <g>
            <title>Note16</title>
            <g>
                <path d="M 116.892 230.878 C 116.892 238.791 116.892 246.888 116.892 254.942" />
                <path d="M 132.462 229.462 C 129.799 228.797 129.442 229.651 128.014 231.08 C 123.777 235.317 124.842 242.595 126.8 248.471 C 127.327 250.052 130.213 254.246 132.462 253.122 C 138.053 250.326 132.298 243.495 129.025 242.404 C 128.341 242.176 124.576 242.429 124.576 243.213" />
                <path d="M 108.196 226.025 C 106.833 234.202 106.983 243.084 106.983 251.504 C 106.983 253.536 106.271 259.083 107.59 260.402 C 109.135 261.947 115.571 261.541 117.7 261.008 C 119.689 260.511 122.038 261.21 123.969 261.21 C 130.544 261.21 142.284 261.499 146.213 257.571 C 146.772 257.011 146.384 253.806 146.213 253.122 C 145.488 250.223 146.415 245.968 146.415 242.809 C 146.415 238.423 146.663 233.53 145.809 229.26 C 145.397 227.204 145.767 224.769 144.393 223.396 C 143.045 222.048 137.819 222.587 135.698 222.587 C 132.648 222.587 126.617 222.274 123.969 223.598 C 122.449 224.358 120.063 223.428 118.509 224.205 C 117.127 224.896 114.047 224.219 113.05 225.216 C 112.073 226.192 108.779 225.038 107.792 226.025" />
            </g>
        </g>
    </a>
    <a asp-page="Note17">
        <g>
            <title>Note17</title>
            <path d="M 145.809 134.825 C 145.809 141.54 145.809 148.671 145.809 155.249" />
            <path d="M 150.257 134.218 C 152.73 134.668 155.518 134.825 157.942 134.825 C 158.609 134.825 160.587 134.437 161.177 135.027 C 162.066 135.916 160.209 139.794 159.762 140.689 C 157.865 144.483 157.867 149.331 155.919 153.227 C 155.368 154.33 153.695 156.563 153.695 157.473" />
            <path d="M 152.482 147.16 C 154.621 146.893 157.425 146.756 159.559 146.756 C 160.366 146.756 161.945 147.383 162.795 146.958 C 163.222 146.744 164.328 146.149 164.615 146.149" />
            <path d="M 139.338 124.512 C 139.338 130.94 139.338 137.563 139.338 143.722 C 139.338 146.038 140.202 150.431 139.54 152.418 C 138.89 154.366 138.639 162.841 139.742 163.944 C 140.699 164.901 142.565 163.738 143.786 164.349 C 148.107 166.509 152.973 162.692 157.335 164.146 C 160.766 165.29 166.258 163.944 169.266 163.944 C 169.959 163.944 171.757 164.688 172.299 164.146 C 174.507 161.938 172.72 157.036 174.119 154.238 C 175.145 152.185 173.719 148.971 174.726 146.958 C 175.245 145.919 174.616 144.347 175.13 143.318 C 178.096 137.385 173.903 131.576 170.479 128.152 C 168.725 126.397 168.001 124.284 165.626 123.096 C 164.609 122.588 162.982 123.392 161.986 122.894 C 161.017 122.409 157.9 122.409 156.931 122.894 C 154.615 124.052 149.85 124.31 146.82 124.31 C 145.377 124.31 140.147 125.127 140.147 124.714" />
            <path d="M 165.019 122.894 C 165.419 126.493 164.817 129.726 164.817 133.207 C 164.817 133.986 164.468 136.296 165.019 136.847 C 165.467 137.294 166.851 137.053 167.446 137.252 C 169.598 137.969 173.511 139.071 175.332 139.071" />
        </g>
    </a>
    <a asp-page="Note18">
        <g>
            <title>Note18</title>
            <path d="M 351.463 174.055 C 351.463 179.67 351.868 185.065 351.868 190.637" />
            <path d="M 364.001 174.055 C 360.118 173.57 361.717 175.53 359.956 177.29 C 359.889 177.358 359.468 178.42 359.754 178.706 C 362.191 181.142 366.796 181.632 368.247 185.986 C 368.783 187.592 368.916 190.144 366.832 190.839 C 363.072 192.092 360.52 187.891 362.181 184.57 C 363.369 182.194 365.387 180.555 367.034 178.908 C 367.441 178.501 368.695 176.12 368.045 175.47 C 367.302 174.727 367.361 174.501 366.023 174.055 C 365.235 173.792 363.171 174.843 362.585 174.257" />
            <path d="M 343.172 169.202 C 343.172 176.424 343.779 183.134 343.779 190.232 C 343.779 192.184 343.357 197.495 344.588 198.725 C 345.734 199.872 350.919 198.928 352.676 198.928 C 358.951 198.928 365.036 198.321 371.28 198.321 C 373.017 198.321 377.067 199.41 378.358 198.119 C 380.412 196.065 378.667 193.658 379.976 191.041 C 380.9 189.193 380.179 182.35 379.571 180.526 C 378.778 178.146 380.144 175.571 379.369 173.246 C 379.163 172.628 379.597 171.048 379.167 170.617 C 376.432 167.883 373.586 164.834 370.269 161.518 C 369.108 160.356 365.89 162.282 364.203 161.72 C 362.511 161.156 358.405 161.687 356.721 162.529 C 354.212 163.783 349.852 162.998 347.014 163.944 C 345.676 164.39 343.283 163.429 342.363 164.349 C 340.753 165.959 341.757 168.925 341.757 171.224" />
            <path d="M 368.652 163.135 C 368.342 165.301 369.118 168.408 368.449 170.415 C 368.353 170.704 367.924 172.317 368.247 172.639 C 370.673 175.065 373.529 175.066 376.74 175.066" />
        </g>
    </a>
    <a asp-page="Note19">
        <g>
            <title>Note19</title>
            <path d="M 208.496 298.014 C 207.887 302.883 207.485 308.564 207.485 312.978" />
            <path d="M 219.011 297.407 C 216.807 298.037 210.776 301.71 213.753 304.687 C 215.957 306.891 218.6 304.29 220.022 302.867 C 220.356 302.534 220.808 300.393 220.629 300.036 C 220.42 299.618 219.64 298.642 219.82 298.823 C 220.411 299.414 220.267 300.727 220.629 301.452 C 221.852 303.897 224.369 310.451 221.842 312.978 C 221.281 313.539 217.596 314.717 217.596 313.382" />
            <path d="M 201.216 293.161 C 200.374 295.125 201.272 297.902 200.407 299.632 C 199.021 302.405 198.992 308.546 198.992 311.765 C 198.992 313.683 198.735 317.17 199.801 318.236 C 202.417 320.852 208.295 319.921 211.731 321.067 C 215.088 322.186 221.701 324.069 225.28 322.28 C 226.103 321.868 227.614 322.575 228.313 321.875 C 229.335 320.853 228.527 316.773 228.92 315.202 C 230.239 309.926 229.429 304.171 231.144 299.025 C 231.469 298.049 232.302 295.073 231.751 293.97 C 230.432 291.331 226.96 293.192 224.471 291.947 C 223.187 291.306 219.695 291.1 218.404 291.745 C 217.381 292.257 214.723 291.745 213.551 291.745 C 210.08 291.745 204.909 292.479 201.823 290.936 C 199.382 289.716 200.407 293.675 200.407 293.363" />
        </g>
    </a>
    <a asp-page="Note20">
        <g>
            <title>Note20</title>
            <path d="M 258.241 233.911 C 262.109 228.496 271.791 232.088 270.172 238.562 C 268.906 243.626 265.022 246.638 262.69 251.302 C 262.178 252.327 257.99 254.035 258.443 254.942 C 259.01 256.074 261.182 255.3 262.083 255.751 C 264.749 257.083 268.473 256.155 270.779 256.155" />
            <path d="M 283.316 230.069 C 275.642 234.454 276.018 245.806 279.474 252.717 C 281.938 257.645 289.726 252.03 291.203 249.077 C 292.32 246.842 292.23 244.969 292.82 242.606 C 293.502 239.882 295.019 236.704 293.427 234.316 C 291.686 231.705 289.068 232.237 286.754 231.08 C 285.571 230.489 283.911 231.675 283.114 230.878" />
            <path d="M 251.366 217.329 C 251.366 220.172 251.466 223.703 250.557 226.429 C 249.938 228.286 251.015 230.974 250.153 232.698 C 249.567 233.868 250.355 236.149 250.355 237.349 C 250.355 241.701 250.557 245.954 250.557 250.291 C 250.557 253.281 250.557 255.907 250.557 258.784 C 250.557 259.667 250.362 261.42 250.961 262.019 C 251.86 262.918 255.417 262.424 256.826 262.424 C 262.043 262.424 267.818 264.124 273.003 262.828 C 279.033 261.321 285.498 263.786 291.405 261.817 C 293.22 261.212 295.733 262.181 297.269 261.413 C 298.741 260.677 302.491 261.65 303.538 260.604 C 304.394 259.748 303.788 257.984 304.144 256.559 C 304.821 253.852 305.041 249.632 304.347 246.853 C 303.279 242.584 304.347 237.07 304.347 232.698 C 304.347 232.086 304.813 228.311 304.347 227.845 C 303.049 226.547 298.842 221.89 297.876 219.958 C 297.078 218.363 295.753 216.672 294.236 215.914 C 293.595 215.593 292.377 216.684 291.809 216.116 C 290.346 214.653 284.024 215.509 281.496 215.509 C 277.016 215.509 272.673 214.903 268.15 214.903 C 266.77 214.903 265.275 214.358 263.903 214.701 C 259.609 215.774 254.489 216.925 250.355 216.925" />
            <path d="M 293.023 217.734 C 293.023 220.16 293.023 222.587 293.023 225.014 C 293.023 225.346 292.792 227.21 293.023 227.44 C 294.619 229.037 298.372 230.878 301.313 230.878" />
        </g>
    </a>
    <a asp-page="Note21">
        <g>
            <title>Note21</title>
            <path d="M 291.607 384.765 C 292.07 381.526 296.789 377.548 300.707 379.507 C 301.918 380.113 302.15 382.596 302.729 383.754 C 303.283 384.863 302.326 386.782 302.122 387.798 C 301.409 391.363 299.114 393.637 296.662 396.089 C 296.094 396.658 293.67 399.366 294.438 400.133 C 295.233 400.929 299.548 399.877 299.898 399.527 C 300.392 399.033 304.144 399.986 304.144 399.527" />
            <path d="M 308.998 378.901 C 308.998 383.221 310.413 386.86 310.413 391.236 C 310.413 392.578 310.818 393.993 310.818 395.28 C 310.818 395.954 311.294 397.779 310.818 397.302 C 310.711 397.196 310.615 396.747 310.615 396.898" />
            <path d="M 283.518 376.474 C 282.655 380.358 282.783 385.666 283.721 389.416 C 284.238 391.485 283.669 393.711 284.327 395.685 C 285.483 399.152 283.31 403.762 284.934 407.009 C 285.829 408.8 292.027 407.009 293.427 407.009 C 296.821 407.009 302.746 408.315 305.762 406.807 C 307.809 405.783 311.116 407.062 313.244 405.998 C 315.616 404.812 318.328 405.739 319.513 403.369 C 319.616 403.163 318.847 401.371 318.704 400.942 C 317.821 398.292 318.137 394.752 316.884 392.247 C 316.443 391.364 317.119 389.886 316.682 389.012 C 314.939 385.526 316.412 380.586 314.66 377.081 C 314.127 376.016 314.601 373.787 313.851 373.036 C 313.133 372.319 308.163 372.978 306.773 373.441 C 302.663 374.811 297.422 375.867 293.023 375.867 C 290.398 375.867 285.213 375.386 283.721 376.878" />
        </g>
    </a>
    <a asp-page="Note22"></a>
    <g>
        <title>Note22</title>
        <path d="M 146.618 87.405 C 147.722 87.089 148.063 87.001 149.044 87.001 C 155.976 87.001 149.586 94.579 147.629 97.516 C 147.015 98.436 144.802 100.356 145.404 101.56 C 146.109 102.97 151.109 101.95 152.28 101.56 C 152.661 101.433 154.706 101.499 154.706 101.762" />
        <path d="M 157.739 87.203 C 161.011 84.399 163.621 84.644 164.615 88.618 C 164.748 89.152 165.016 90.044 164.817 90.641 C 163.817 93.64 162.365 95.229 160.57 97.92 C 159.92 98.897 157.782 99.825 158.548 101.358 C 159.517 103.295 164.059 103.785 166.03 103.785 C 166.601 103.785 169.064 104.18 169.064 103.178" />
        <path d="M 139.54 81.339 C 138.913 87.608 138.731 94.278 138.731 100.549 C 138.731 102.602 137.841 106.13 139.338 107.627 C 141.202 109.491 144.558 107.816 147.022 108.638 C 148.912 109.268 152.225 107.7 154.1 108.638 C 155.518 109.347 158.272 108.84 159.964 108.84 C 163.51 108.84 166.771 109.649 170.277 109.649 C 172.084 109.649 177.908 110.713 179.174 109.447 C 179.791 108.83 178.568 103.982 178.568 102.976 C 178.568 97.788 177.978 90.894 176.343 85.99 C 175.906 84.677 176.243 81.794 174.928 81.136 C 171.849 79.597 163.723 79.155 160.57 80.732 C 159.091 81.472 156.774 80.923 155.111 81.339 C 150.226 82.56 143.935 82.956 138.731 82.956" />
    </g>
    <a asp-page="Note23">
        <g>
            <title>Note23</title>
            <path d="M 335.447 58.454 C 337.031 56.078 342.408 51.706 344.49 55.87 C 346.215 59.32 340.524 66.942 338.354 69.112 C 336.986 70.48 332.54 72.232 332.54 73.957 C 332.54 75.008 335.293 74.28 335.77 74.28 C 339.402 74.28 343.086 72.988 346.428 72.988" />
            <path d="M 350.627 55.547 C 351.704 55.009 352.761 54.43 353.857 53.932 C 356.028 52.945 361.359 55.474 358.702 58.131 C 358.461 58.371 354.18 63.627 354.18 64.268 C 354.18 64.394 363.376 67.022 360.64 69.758 C 359.763 70.635 358.841 71.88 358.056 72.665 C 357.676 73.045 355.472 73.553 355.472 73.957" />
            <path d="M 326.08 47.149 C 322.675 53.959 323.496 62.27 323.496 70.081 C 323.496 72.654 322.939 77.231 325.434 78.479 C 328.703 80.114 338.001 80.021 341.584 79.125 C 343.788 78.574 346.049 79.476 348.043 78.479 C 349.519 77.741 352.215 78.703 353.857 78.156 C 357.458 76.956 363.613 77.833 367.423 77.833 C 368.576 77.833 371.475 78.303 372.267 77.51 C 374.033 75.745 372.59 65.283 372.59 62.33 C 372.59 61.403 373.18 57.106 372.59 56.516 C 369.314 53.239 367.523 48.218 363.87 44.565 C 362.911 43.606 362.238 41.336 360.64 41.336 C 356.147 41.336 351.767 42.951 347.074 42.951 C 343.734 42.951 332.91 41.935 330.925 43.92 C 329.817 45.028 326.738 42.939 325.757 43.92 C 325.114 44.563 324.329 50.702 325.111 50.702" />
            <path d="M 359.348 43.597 C 357.152 45.792 357.737 56.68 360.64 58.131 C 362.667 59.144 371.229 58.847 371.944 58.131" />
        </g>
    </a>
    <a asp-page="Note24">
        <g>
            <title>Note24</title>
            <path d="M 153.605 271.625 C 153.39 272.164 153.073 272.672 152.959 273.24 C 152.77 274.185 154.58 271.948 155.543 271.948 C 157.942 271.948 160.294 272.407 161.357 274.532 C 164.755 281.328 148.98 294.234 160.711 294.234 C 162.11 294.234 163.51 294.234 164.91 294.234" />
            <path d="M 170.723 270.333 C 168.759 274.263 169.431 278.884 169.431 283.253 C 169.431 284.008 169.056 286.779 169.754 287.129 C 171.86 288.181 181.705 287.261 181.705 284.868" />
            <path d="M 175.891 277.116 C 174.944 281.377 174.922 286.794 174.922 291.005" />
            <path d="M 143.915 263.874 C 143.915 267.79 143.486 276.258 145.207 279.7 C 146.9 283.086 144.439 288.498 146.176 291.974 C 147.373 294.366 145.965 297.688 147.145 300.048 C 149.13 304.017 160.499 301.285 162.972 300.048 C 165.158 298.955 169.775 300.028 171.369 298.433 C 171.946 297.857 174.885 298.528 175.568 298.756 C 176.979 299.227 185.169 298.199 186.227 297.141 C 188.322 295.046 186.833 290.516 187.519 287.775 C 188.631 283.324 188.278 276.488 186.873 272.271 C 185.429 267.941 187.746 264.472 183.966 262.582 C 170.785 255.991 157.054 266.135 144.884 266.135" />
        </g>
    </a>
</svg>