@page
@model AdventCalendarWebApp.Pages._2020.Igloo.TaskBoard.Note21Model
@{
    ViewData["Title"] = "Note 21";
}

<div class="btn-group-vertical d-block">
    <a asp-page="Index" class="btn btn-light">Go back to the task board</a>
    <a asp-page="../Index" class="btn btn-light">Go back to the igloos entry</a>
</div>
<hr />
@if (!ModelState.IsValid)
{
    <div class="alert alert-danger">@ModelState[string.Empty].Errors[0].ErrorMessage</div>
}
else if (Model.Solved)
{
    <div class="alert alert-success">Yes.</div>
}

@if(!Model.Solved)
{
<form method="post">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group mb-3">
                <input asp-for="Answer1" type="number" min="0" max="1000" class="form-control" placeholder="Answer1">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="input-group mb-3">
                <input asp-for="Answer2" type="number" min="0" max="1000" class="form-control" placeholder="Answer2">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-outline-secondary" value="Submit"/>
                </div>
            </div>
        </div>
    </div>
</form>
}
<svg class="img-fluid" viewBox="6.241 19.764 697.296 430.999" xmlns="http://www.w3.org/2000/svg">
    <path d="M 78.3633824783677 62.413313478345955 C 74.55397188555276 81.46035755221669 75.39430519810767 100.42237976364228 76.2829360961914 119.97225952148438 C 77.24454133983635 141.12757488167313 77.1359276773223 162.28870773718043 78.01663970947266 183.42579650878906 C 80.16398222882442 234.96201697323147 82.27524346069718 286.5211523658219 84.25797271728516 338.0721130371094 C 84.93091116548139 355.56851269021143 84.56003039898481 373.82036690666314 87.03189849853516 391.1234436035156" />
    <path d="M 148.40498982628924 154.64632117412384 C 150.0517775606925 174.40784501053656 151.52565002441406 193.9030255888775 151.52565002441406 213.93896484375 C 151.52565002441406 227.01995842609927 150.0586046432888 244.6387241791557 156.0332794189453 256.58807373046875" />
    <path d="M 223.9944472611749 24.27184413046787 C 220.87706308604805 44.53482393562024 223.50696645260953 66.5804141660447 222.9542236328125 87.03189849853516 C 222.0486840483316 120.53686312432808 220.02285818426822 154.3988945159557 221.22052001953125 187.9334259033203 C 222.22895428929658 216.16958545674936 222.9542236328125 244.63241879319145 222.9542236328125 272.8848876953125 C 222.9542236328125 300.9701236666555 223.99444580078125 329.03664589155284 223.99444580078125 357.1428527832031 C 223.99444580078125 367.5837647997954 223.4143999093149 378.25543249852785 223.99444580078125 388.6962585449219 C 224.0600824869553 389.87771889605517 223.3567075960148 398.3492555387508 225.7281494140625 395.9778137207031" />
    <path d="M 275.6588011960279 158.46046810891164 C 275.04026647319375 170.83140454491405 275.2067535560558 183.2103146050547 274.61859130859375 195.5617218017578 C 273.20668095408604 225.2118392464192 268.4733302977247 254.66676431746524 266.99029541015625 284.32733154296875 C 265.92072591056933 305.7186273990354 267.3370361328125 328.74108400475575 267.3370361328125 349.1678161621094" />
    <path d="M 341.8862616091617 47.85020700006524 C 338.15992249951364 57.78709724876708 342.5797424316406 71.47067165968957 342.5797424316406 81.8307876586914 C 342.5797424316406 107.97581365917388 340.1463344482869 134.0330407726027 341.1927795410156 160.1941680908203 C 343.36815217199893 214.5784838654027 341.7473007793823 269.4941877964376 339.8058166503906 323.8557434082031 C 338.94132629982937 348.0614732239175 337.7901441211835 373.8930693951595 341.1927795410156 397.7115173339844" />
    <path d="M 436.54645371798637 33.63384115221977 C 432.9863696177973 51.434220093306536 433.2740936779205 70.30149005049263 432.038818359375 88.41886138916016 C 429.00027521089936 132.98416090013603 429.75317967905306 176.62586699322085 431.69207763671875 221.22052001953125 C 432.50171608690056 239.8422043737125 432.7557833124442 258.87986963621637 434.812744140625 277.39251708984375 C 437.2425810630525 299.2610493916914 438.33672098036556 321.3217347990781 439.6671142578125 343.2732238769531 C 440.7198100217884 360.64270398255616 442.7771949942613 378.0531538171526 441.0540771484375 395.2843322753906" />
    <path d="M 10.40221891305766 434.8127505658101 C 26.40746038331329 435.7542290908665 42.129963519986674 432.06053052854276 58.25242614746094 432.7322998046875 C 94.39566974447109 434.23826828789623 130.49094185844018 439.16455252895537 166.78224182128906 437.586669921875 C 233.00498299496672 434.70742030562815 299.17384871781087 430.535000182521 365.4646301269531 428.91815185546875 C 401.1944526558785 428.0466927693974 437.0095158483303 430.5363285943562 472.60748291015625 433.07904052734375 C 488.4242001203334 434.2088060423564 504.81520057123 439.32037353515625 520.4577026367188 439.32037353515625" />
    <path d="M 32.593619260914004 318.6546393699996 C 57.30497145216759 320.55550734255235 82.41820639242363 316.2611615465349 107.14285278320312 315.5339660644531 C 155.79592960566086 314.1029932167338 204.49665831126137 317.87948513118096 253.12066650390625 314.8404846191406 C 278.34781868346255 313.26378760791835 303.52692093294354 310.86658259366857 328.7101135253906 309.2926330566406 C 346.5067362626255 308.1803441355635 364.31668217671864 304.7850036621094 381.7614440917969 304.7850036621094" />
    <path d="M 30.166434847867215 123.78640506538615 C 43.54052421866287 125.1942071255428 56.939554821220426 125.05635912456293 70.38835144042969 125.52011108398438 C 84.2876220922357 125.99939664252254 98.11923180961948 127.56361628150958 111.99722290039062 128.29403686523438 C 137.25277258156757 129.62327632213842 162.6458340227079 128.82850719559087 187.9334259033203 129.33425903320312 C 262.1153880646484 130.81789827642967 336.3481063556337 130.80655495903247 410.5408935546875 132.10818481445312 C 446.97305146286175 132.74734646642682 483.42638573022344 134.34469949266045 519.7642211914062 136.61581420898438 C 533.9123696036091 137.50007348474705 549.1733691291502 136.25631078872064 563.1068115234375 139.04299926757812" />
    <path d="M 32.24687863047874 24.965325391338382 C 49.27040032896059 30.639830625119433 68.59695500345686 27.323890250307606 86.33841705322266 28.43273162841797 C 120.75317639084489 30.583654087019358 155.5301746400318 28.43273162841797 190.0138702392578 28.43273162841797 C 277.1317709929718 28.43273162841797 364.43089151487214 28.899748527126995 451.456298828125 32.24687957763672 C 496.5038001203324 33.979475781183154 543.8192147682786 32.815126831237464 588.0720825195312 42.64909744262695" />
    <path d="M 530.8599051963758 113.38418615232847 C 526.7066770210138 122.72899220564875 530.51318359375 134.6207238272316 530.51318359375 144.59083557128906 C 530.51318359375 161.00360066485428 528.3800233975778 177.4339477654254 529.4729614257812 193.82801818847656 C 530.0934369798298 203.1351514992054 532.9697783319224 212.27025602191284 533.6338500976562 221.5672607421875 C 534.5707942193059 234.68447844528163 533.3190122963359 247.987552918774 534.3273315429688 261.095703125 C 535.7933299624176 280.15368257783445 538.3225715900794 299.3143694652472 540.221923828125 318.3078918457031 C 541.165295735166 327.74161091611313 540.2552646371319 338.33216396533277 539.5284423828125 347.7808532714844 C 539.1671506361339 352.47764597830593 540.4477400503066 357.74747528557657 539.5284423828125 362.3439636230469 C 539.3421178796158 363.27558613903017 537.7947387695312 366.2363410244242 537.7947387695312 366.5048522949219" />
    <path d="M 600.5547719138622 112.69070489145797 C 602.1239019687482 117.92121579100962 601.233475641798 122.87161094532988 601.594970703125 128.29403686523438 C 602.334270174041 139.3835289289747 602.0605443985469 150.52446063900746 602.98193359375 161.5811309814453 C 605.2938319455409 189.32391120293605 605.2905867661298 217.7885325369117 602.98193359375 245.49237060546875 C 601.8366359423281 259.23594242253034 602.8469010074351 273.4835157801722 600.9014892578125 287.1012268066406 C 599.1590648280106 299.29804445982063 597.43408203125 311.48814266707257 597.43408203125 323.8557434082031 C 597.43408203125 331.6377064433708 595.7980953524515 340.3921182572867 597.0873413085938 348.1275939941406 C 598.3454322632352 355.6761397219895 600.2080078125 364.02230755646235 600.2080078125 371.7059631347656 C 600.2080078125 376.4111746298421 603.1433211940969 386.2690734863281 596.7406005859375 386.2690734863281" />
    <path d="M 29.12621295656144 382.8016560005218 C 28.709205291040895 382.7495402869294 20.45769691467285 380.7212219238281 20.45769691467285 380.7212219238281 C 20.45769691467285 380.7212219238281 23.73063660121532 380.78604443716813 23.92510414123535 380.7212219238281 C 27.998780432494677 379.3633298267417 33.10276833466523 379.43081806315723 37.4479866027832 378.6407775878906 C 55.11638748634938 375.4283378507035 73.07548606829099 370.77720739098356 90.8460464477539 368.2385559082031 C 125.02349635161202 363.3560630647948 159.33188982357842 357.17967689353065 193.82801818847656 354.7156677246094 C 209.0454970636816 353.628704947809 224.35536102984625 353.8543054302074 239.5977783203125 353.3287048339844 C 277.7124874178973 352.0144045202746 316.5851979074026 348.648255561874 354.7156677246094 350.5547790527344 C 404.6661246217713 353.0523018975925 454.6338525653913 355.2493233729872 504.50762939453125 358.1830749511719 C 547.2677099589032 360.69837380789966 590.3853447925399 356.7384048128692 633.1483764648438 358.8765563964844 C 650.1546623060963 359.726870688547 667.6158517540006 361.9972229003906 684.4660034179688 361.9972229003906" />
    <path d="M 100.90152345665928 212.8987470872467 C 154.96593093229467 215.74423799982884 209.50196787965174 205.4156864951282 263.52288818359375 202.84326171875 C 310.382924755504 200.6118314058019 357.4116816558669 202.02301998123164 404.299560546875 200.06935119628906 C 446.51061334057545 198.3105508800216 488.95118514563654 197.98890686035156 531.2066650390625 197.98890686035156 C 562.865052143056 197.98890686035156 594.5991322935217 196.4081853744417 626.2135620117188 197.98890686035156 C 648.5028768419713 199.10337260186418 671.4813064029951 199.43055461960574 693.134521484375 205.6171875" />
</svg>