@page
@model AdventCalendarWebApp.Pages._2020.Igloo.TaskBoard.Note10Model
@{
    ViewData["Title"] = "Note10";
}
<div class="btn-group-vertical d-block">
    <a asp-page="Index" class="btn btn-light">Go back to the task board</a>
    <a asp-page="../Index" class="btn btn-light">Go back to the igloos entry</a>
    <a asp-page="../../Map" class="btn btn-light">Exit the igloo</a>
</div>
<hr />
@if (!ModelState.IsValid)
{
    <div class="alert alert-danger">@ModelState[string.Empty].Errors[0].ErrorMessage</div>
}
else if (Model.Solved)
{
    <div class="alert alert-success">
        Yes, you got it!
        Look at the name of each shape and take the letter at the position indicated by the number inside the shape.
        TRAIN!
        He must mean the polar express conveying goods around the north pole.
        Now we can prevent another disruption.
    </div>
}
<p class="text-justify">
    I received another anonymous message from the saboteur.
    This guy is annoying.
    Let us figure out what he means to prevent another disruption.
</p>
<blockquote class="blockquote border p-3">
    <p class="text-justify">
        Hello there,
        <br />
        I underestimated you.
        You are clever, but still no match for my superior intellect.
        No one will every solve the following riddle to find out my next target.
        <br />
        Sincerely yours,
        <br />
    </p>
</blockquote>
<p class="text-justify">
    Look here, there are five different shapes with numbers inside them: Pentagon, Rectangle, Square, Triangle and Hexagon.
    What does this mean?
    I am totally lost.
</p>
<form method="post">
    <div class="input-group">
        <input asp-for="Answer" class="form-control" type="text" maxlength="16" />
        <div class="input-group-append">
            <input class="btn btn-dark" type="submit" value="Solve" />
        </div>
    </div>
</form>
<svg class="img-fluid" viewBox="15.951 0 144.59 623.786" xmlns="http://www.w3.org/2000/svg">
    <g>
        <title>Pentagon</title>
        <path d="M 28.433 79.057 C 33.896 89.983 37.056 100.464 41.956 110.264 C 44.462 115.275 43.455 123.205 47.157 126.907 C 47.893 127.643 47.715 130.104 48.197 131.068 C 50.161 134.995 51.317 142.163 54.785 143.897 C 57.071 145.04 61.041 143.204 63.107 143.204 C 67.787 143.204 73.093 143.551 78.017 143.551 C 83.462 143.551 88.747 143.897 94.313 143.897 C 95.131 143.897 99.32 143.356 99.861 143.897 C 100.478 144.514 108.219 145.44 109.223 144.938 C 114.475 142.312 116.73 136.737 121.012 132.455 C 128.47 124.998 133.797 113.82 138.696 104.022 C 143.149 95.117 148.652 86.538 152.913 78.017 C 153.522 76.798 157.553 72.734 157.074 71.775 C 153.312 64.252 144.869 59.016 139.736 51.318 C 135.273 44.623 128.633 36.171 121.706 31.553 C 117.511 28.757 115.636 21.584 111.304 19.417 C 108.01 17.771 101.997 9.473 100.902 7.282 C 100.634 6.746 97.921 5.061 97.087 5.895 C 91.986 10.996 88.369 19.814 82.178 26.006 C 64.502 43.681 45.913 65.391 28.779 82.524" />
        <path d="M 73.856 47.503 C 73.856 52.928 71.835 58.645 70.735 64.147 C 69.925 68.197 70.655 73.055 69.348 76.976 C 68.852 78.465 66.566 85.29 67.961 86.685 C 70.384 89.108 77.966 88.419 81.137 88.419 C 91.84 88.419 102.516 88.419 112.344 88.419" />
        <path d="M 87.379 65.881 C 87.379 82.523 86.338 102.591 86.338 120.319" />
    </g>
    <g>
        <title>Rectangle</title>
        <path d="M 24.965 196.949 C 27.386 207.844 26.352 220.613 26.352 231.623 C 26.352 234.749 27.709 241.392 26.352 244.105 C 24.569 247.673 27.442 257.579 24.965 260.055 C 24.225 260.796 24.572 262.436 25.312 263.176 C 26.525 264.389 30.21 264.216 32.247 264.216 C 38.799 264.216 44.808 263.785 51.318 262.483 C 58.19 261.108 67.223 262.96 73.856 260.749 C 79.175 258.976 86.208 261.486 91.54 259.709 C 99.441 257.075 112.194 257.975 120.666 257.975 C 127.72 257.975 134.225 259.015 141.123 259.015 C 143.693 259.015 147.145 259.802 148.405 257.282 C 151.453 251.185 148.786 242.896 150.139 236.13 C 151.239 230.627 149.732 224.64 150.832 219.14 C 151.713 214.735 152.219 209.821 152.219 205.27 C 152.219 202.276 154.323 190.546 151.872 189.32 C 151.053 188.911 148.875 190.484 148.058 189.667 C 146.299 187.908 138.069 189.542 135.229 188.974 C 127.859 187.5 117.442 187.026 109.917 188.28 C 106.975 188.77 103.729 187.684 100.902 188.627 C 96.33 190.151 89.935 188.143 84.951 188.974 C 78.893 189.983 70.998 187.282 65.534 190.014 C 58.472 193.545 47.752 189.369 40.915 192.788 C 38.197 194.147 33.585 192.119 30.86 193.481 C 28.775 194.524 18.782 194.233 23.925 199.376" />
        <path d="M 68.308 215.326 C 74.149 211.432 77.633 203.035 83.564 200.069 C 84.973 199.365 86.935 196.255 88.419 196.255 C 90.531 196.255 89.806 206.579 89.806 208.738 C 89.806 214.02 89.459 219.125 89.459 224.341 C 89.459 225.947 90.47 229.255 89.806 230.583 C 88.042 234.109 87.725 243.984 87.725 247.92" />
    </g>
    <g>
        <title>Square</title>
        <path d="M 52.011 291.262 C 52.011 301.933 53.398 312.631 53.398 323.509 C 53.398 327.138 54.282 332.11 53.398 335.645 C 52.221 340.354 54.832 348.726 52.705 352.982 C 51.929 354.533 51.632 360.545 52.358 361.997 C 52.713 362.707 55.163 362.344 55.825 362.344 C 59.547 362.344 63.588 362.761 66.921 361.65 C 79.181 357.564 95.769 359.57 109.223 359.57 C 113.595 359.57 121.767 361.1 125.52 359.223 C 128.559 357.704 127.473 347.398 126.56 344.66 C 125.354 341.042 126.56 335.745 126.56 332.178 C 126.56 327.596 125.867 322.362 125.867 317.268 C 125.867 314.423 124.524 309.897 125.867 307.212 C 126.818 305.309 126.642 293.73 125.173 292.996 C 119.624 290.221 111.173 292.53 104.716 290.915 C 99.868 289.703 94.453 290.915 89.459 290.915 C 84.184 290.915 74.841 288.622 70.042 290.222 C 65.178 291.843 56.573 291.956 51.318 291.956" />
        <path d="M 76.283 303.745 C 76.283 302.705 76.283 300.624 76.283 300.624 C 76.283 300.624 76.496 308.788 76.283 309.639 C 75.356 313.345 75.79 319.603 76.976 323.162 C 77.444 324.564 76.42 326.766 77.323 327.67 C 78.132 328.479 77.712 333.994 78.363 335.298 C 79.408 337.388 83.21 336.452 84.951 337.032 C 92.104 339.416 100.089 336.685 107.143 336.685" />
        <path d="M 91.886 319.695 C 89.788 327.038 91.193 334.886 91.193 342.58 C 91.193 343.758 90.497 348.122 90.846 348.821 C 91.153 349.435 91.748 352.635 91.193 352.635" />
    </g>
    <g>
        <title>Triangle</title>
        <path d="M 40.915 449.376 C 45.672 439.863 51.759 431.156 56.519 421.637 C 58.889 416.897 60.626 410.968 63.454 406.727 C 66.885 401.579 70.875 395.904 72.816 390.083 C 74.372 385.413 78.613 378.738 81.831 375.52 C 83.028 374.323 82.612 371.273 84.951 372.053 C 88.67 373.292 91.026 383.161 92.926 386.963 C 97.728 396.566 100.969 407.623 104.369 417.822 C 106.332 423.71 110.404 429.686 112.344 435.506 C 113.697 439.565 117.006 444.138 118.932 447.989 C 119.226 448.577 121.449 451.02 120.666 451.803 C 117.153 455.316 104.894 451.456 99.861 451.456 C 90.015 451.456 78.418 450.982 68.655 449.029 C 59.431 447.184 47.149 449.376 39.182 449.376" />
        <path d="M 72.122 407.42 C 75.021 404.521 82.171 403.588 83.911 408.807 C 85.126 412.451 81.818 416.305 78.71 418.169 C 78.437 418.333 74.202 419.874 74.202 419.903 C 74.202 420.215 82.876 421.988 83.911 423.024 C 95.042 434.154 73.574 438.28 65.534 438.28" />
    </g>
    <g transform="matrix(1, 0, 0, 1, 10.402219, -3.467406)">
        <title>Hexagon</title>
        <path d="M 19.071 526.352 C 16.633 538.543 20.83 551.935 16.99 563.454 C 16.33 565.433 17.305 568.058 16.644 570.042 C 15.547 573.33 15.257 578.533 15.257 581.484 C 15.257 582.092 14.87 584.911 15.257 585.298 C 26.166 596.208 43.307 599.825 55.132 611.65 C 59.385 615.903 66.005 617.323 69.348 620.666 C 70.123 621.441 77.815 617.053 78.71 616.158 C 84.754 610.114 96.412 606.431 102.982 599.861 C 107.525 595.318 116.959 594.206 121.359 589.806 C 122.37 588.795 125.335 589.297 126.214 588.419 C 127.301 587.332 126.959 585.541 127.601 584.258 C 128.43 582.599 127.009 579.791 127.601 578.017 C 129.235 573.113 127.635 567.44 128.641 562.413 C 130.622 552.507 127.633 541.479 130.028 531.9 C 130.427 530.303 131.668 523.832 130.374 522.538 C 123.533 515.697 116.817 508.183 107.143 501.734 C 101.116 497.716 95.129 493.262 89.112 489.251 C 87.369 488.089 84.75 485.023 82.871 484.397 C 81.471 483.93 76.479 478.652 74.896 480.236 C 70.353 484.779 62.595 491.761 56.519 494.799 C 44.882 500.617 34.989 509.741 26.006 518.724 C 23.627 521.102 16.297 524.963 16.297 527.393" />
        <path d="M 50.277 518.724 C 57.286 519.6 65.974 518.724 73.162 518.724 C 75.974 518.724 79.05 516.987 81.831 518.377 C 84.129 519.526 88.058 517.67 90.153 519.764 C 93.566 523.177 87.319 532.427 85.992 536.408 C 83.328 544.399 77.038 551.888 73.162 559.639 C 69.622 566.72 65.067 573.402 61.72 580.097 C 61.13 581.276 60.563 583.681 59.639 584.605" />
        <path d="M 61.72 552.705 C 64.761 553.573 72.091 555.667 75.243 554.092 C 76.237 553.594 79.179 552.976 80.444 553.398 C 84.224 554.658 89.822 554.438 93.62 554.438" />
    </g>
</svg>