@page
@model AdventCalendarWebApp.Pages._2020.Igloo.TaskBoard.Note13Model
@{
    ViewData["Title"] = "Note13";
}
<div class="btn-group-vertical d-block">
    <a asp-page="Index" class="btn btn-light">Go back to the task board</a>
    <a asp-page="../Index" class="btn btn-light">Go back to the igloos entry</a>
    <a asp-page="../../Map" class="btn btn-light">Exit the igloo</a>
</div>
<hr />
<p class="text-justify">
    ♬♫♩♫<a href="https://youtu.be/M-b3iU-INDo?t=16" target="_blank">Let it snow, let it snow, let it snow</a>♬♫♩♫
    Oh, the weather outside is frightful.
    How about generating some snow with the snow cannon?
    Let it snow and let us go to the snow cannon, turn it on and let it snow.
    The instructions are quite simple:
    There are six switches in total.
    Each switch is in a separate room.
    You need to flip each switch so that each switch in the off position flips to the on position and vice versa.
</p>