@page
@model AdventCalendarWebApp.Pages._2020.Igloo.TaskBoard.Note19Model
@{
    ViewData["Title"] = "Note19";
}
<div class="btn-group-vertical d-block">
    <a asp-page="Index" class="btn btn-light">Go back to the task board</a>
    <a asp-page="../Index" class="btn btn-light">Go back to the igloos entry</a>
    <a asp-page="../../Map" class="btn btn-light">Exit the igloo</a>
</div>
<hr />
@if (Model.Solved)
{
    <div class="alert alert-success">Yes, there is a candle in the library. I am innocent.</div>
}
else if (!ModelState.IsValid)
{
    <div class="alert alert-danger">@ModelState[string.Empty].Errors[0].ErrorMessage</div>
}
<p class="text-justifiy">
    Oh no, what a disaster!
    I am accused of being the saboteur.
    Despite me, the tasks of other people have been disrupted too and they think that I could have done everything.
    I have one chance to prove my innocence.
    Some magical insights told the judges that the saboteur does not know, where the magical candle is.
    The candle can be lightened and extinguished and is somewhere at the north pole.
    Can you help me once again?
</p>
<form method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">Location</div>
        </div>
        <input asp-for="Answer" class="form-control" type="text" maxlength="16" />
        <div class="input-group-append">
            <input class="btn btn-dark" type="submit" value="Solve" />
        </div>
    </div>
</form>

<svg class="img-fluid" viewBox="73.162 79.75 189.321 300.624" xmlns="http://www.w3.org/2000/svg">
    <g>
        <title>Candle</title>
        <path d="M 113.037 207.004 C 117.831 204.95 119.173 200.816 123.44 198.682 C 126.227 197.289 131.023 199.052 133.842 197.642 C 140.105 194.51 149.906 194.444 155.34 196.255 C 156.632 196.686 159.064 196.512 159.847 197.295 C 160.995 198.443 163.425 199.139 164.702 200.416 C 166.734 202.448 169.038 206.225 171.983 207.698 C 177.373 210.393 183.874 211.042 188.974 213.592 C 199.389 218.8 214.765 206.096 222.261 213.592 C 223.769 215.101 223.946 221.317 222.954 223.301 C 222.366 224.478 222.954 227.504 222.954 228.849 C 222.954 232.864 221.93 238.952 223.301 243.065 C 224.952 248.019 222.076 254.648 223.648 259.362 C 224.364 261.512 224.509 270.468 223.301 272.885 C 222.458 274.571 223.301 278.911 223.301 280.86 C 223.301 288.306 225.381 296.119 222.954 303.398 C 220.678 310.227 224.763 318.851 221.914 324.549 C 220.937 326.504 221.914 331.652 221.914 333.911 C 221.914 341.725 222.344 350.819 217.753 355.409 C 213.849 359.313 206.325 360.374 201.456 361.997 C 197.659 363.263 192.879 365.419 189.32 367.198 C 186.979 368.369 183.291 367.093 180.999 368.239 C 175.527 370.974 167.546 370.064 161.581 372.053 C 158.991 372.916 151.537 374.485 148.752 373.093 C 145.682 371.558 139.02 372.377 136.616 369.972 C 134.283 367.639 129.121 365.878 125.52 364.078 C 121.943 362.289 117.055 360.12 114.424 357.49 C 112.037 355.102 115.3 346.922 113.037 344.66 C 110.48 342.102 112.207 334.539 110.957 330.791 C 108.701 324.023 108.15 311.888 109.57 304.785 C 110.406 300.604 108.888 295.723 109.917 291.609 C 116.475 265.376 113.384 233.2 113.384 207.698" />
        <path d="M 130.374 306.172 C 130.374 312.421 129.444 321.758 131.415 327.67 C 132.511 330.959 130.902 335.329 131.761 338.766 C 132.373 341.21 130.513 347.226 132.108 348.821 C 132.676 349.388 132.056 353.086 131.761 353.675 C 130.479 356.241 130.721 363.42 130.721 366.158" />
        <path d="M 163.662 331.137 C 162.267 345.085 164.008 357.201 164.008 370.319" />
        <path d="M 199.376 305.825 C 199.376 325 201.803 344.012 201.803 362.691" />
        <path d="M 168.169 207.004 C 165.74 196.075 166.089 183.005 166.089 171.983" />
        <path d="M 79.404 368.585 C 81.838 365.746 84.668 360.752 87.725 359.223 C 90.971 357.6 95.228 357.032 98.474 355.409 C 99.3 354.996 102.674 353.868 103.675 354.369 C 106.974 356.018 110.919 355.281 114.424 356.449 C 116.911 357.278 116.362 358.877 119.279 358.877" />
        <path d="M 219.487 356.103 C 221.192 354.682 221.965 353.624 222.954 352.635 C 224.71 350.879 233.185 353.503 234.743 354.022 C 235.65 354.324 238.6 353.371 239.251 354.022 C 239.905 354.676 243.697 355.787 245.146 355.062 C 250.342 352.464 254.545 351.558 259.015 347.087" />
        <path d="M 163.662 187.933 C 154.942 187.933 152.502 176.364 149.098 169.556 C 145.143 161.644 148.644 148.621 152.219 141.47 C 153.39 139.129 153.568 136.654 154.993 135.229 C 156.673 133.548 156.781 130.667 158.114 129.334 C 158.721 128.727 158.723 126.035 159.154 125.173 C 161.536 120.409 161.841 114.251 164.008 109.917 C 165.766 106.402 165.765 101.549 167.476 98.128 C 168.177 96.725 167.536 94.253 168.516 93.273 C 169.081 92.708 168.563 87.725 169.556 87.725 C 170.283 87.725 170.25 90.851 170.25 91.54 C 170.25 94.04 169.209 98.005 169.209 100.902 C 169.209 107.568 170.396 117.492 173.37 123.44 C 174.583 125.866 175.066 131.377 176.838 133.148 C 178.8 135.111 179.207 139.678 181.345 141.817 C 184.35 144.822 186.169 149.731 187.933 153.259 C 189.262 155.917 188.977 160.891 190.707 162.621 C 192.6 164.514 189.555 175.216 188.627 176.144 C 186.553 178.219 184.437 180.334 182.732 182.039 C 181.555 183.216 178.671 183.326 177.531 184.466 C 174.741 187.256 170.972 188.28 167.822 188.28" />
    </g>
</svg>