@page
@model AdventCalendarWebApp.Pages._2020.Igloo.TaskBoard.Note23Model
@{
    ViewData["Title"] = "Note 23";
}

<div class="btn-group-vertical d-block">
    <a asp-page="Index" class="btn btn-light">Go back to the task board</a>
    <a asp-page="../Index" class="btn btn-light">Go back to the igloos entry</a>
</div>
<hr />
<p class="text-justify">
    We finally gathered some intel on the saboteur.
    Let us find out who he is.
</p>
@if (!ModelState.IsValid)
{
    <div class="alert alert-danger">@ModelState[string.Empty].Errors[0].ErrorMessage</div>
}
else if (Model.Solved)
{
    <div class="alert alert-success">Otis? I never have thought of him, even though he is always a little bit grumpy during Christmas. So he faked the buglary at his home to distract from himself and scam his book insurance.</div>
}
<form method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">Saboteur</div>
        </div>
        <input asp-for="Answer" class="form-control" type="text" maxlength="16" />
        <div class="input-group-append">
            <input class="btn btn-dark" type="submit" value="Solve" />
        </div>
    </div>
</form>
<svg class="img-fluid" viewBox="9.237 -352.981 669.563 513.196" xmlns="http://www.w3.org/2000/svg">
    <g>
        <title>Numbers</title>
        <path d="M 39.329 36.676 C 39.329 69.262 46.587 102.082 46.587 134.982" />
        <path d="M 105.307 32.717 C 97.442 34.465 84.131 34.1 78.256 39.975 C 70.817 47.414 62.602 61.63 66.38 72.963 C 67.536 76.432 67.551 82.126 71.658 84.18 C 93.564 95.133 102.471 68.739 109.265 55.149 C 110.505 52.67 110.85 40.11 109.925 37.335 C 109.665 36.555 107.402 30.622 106.626 31.397 C 104.091 33.932 107.885 50.887 108.606 54.49 C 111.55 69.213 109.165 86.519 113.884 100.674 C 114.573 102.741 116.167 111.943 115.203 113.87 C 111.738 120.801 113.745 132.743 105.307 136.962 C 98.401 140.415 82.215 136.783 82.215 127.065" />
        <path d="M 224.726 27.439 C 211.46 24.122 201.239 29.154 193.057 37.335 C 185.93 44.463 189.708 67.66 198.995 72.304 C 209.777 77.694 225.923 73.87 231.324 63.067 C 233.899 57.917 236.503 44.395 233.963 39.315 C 233.784 38.955 230.726 27.316 229.345 30.078 C 226.313 36.141 231.468 45.459 232.644 52.51 C 235.839 71.68 240.561 94.077 237.262 113.87 C 235.863 122.267 218.436 146.506 208.892 136.962 C 205.017 133.087 193.717 135.341 193.717 127.725" />
        <path d="M 330.291 24.8 C 323.833 15.113 340.257 13.948 347.445 17.542 C 363.781 25.71 367.661 37.862 363.939 56.469 C 359.533 78.502 348.167 95.812 334.249 113.21 C 328.705 120.14 318.79 127.634 315.116 134.982 C 314.487 136.241 309.612 138.715 311.157 140.261 C 314.303 143.407 324.882 141.58 329.631 141.58 C 345.262 141.58 362.947 143.56 377.135 143.56" />
        <path d="M 430.577 14.243 C 402.441 26.748 394.003 66.714 397.588 95.396 C 399.679 112.121 416.498 131.08 435.195 126.405 C 442.21 124.652 447.534 115.583 450.37 109.911 C 461.959 86.732 468.192 59.339 451.69 37.335 C 445.431 28.99 434.134 2.768 420.68 16.223" />
        <path d="M 547.357 14.903 C 540.568 21.692 544.058 37.423 544.058 46.572 C 544.058 73.653 542.079 101.158 542.079 127.725" />
        <path d="M 564.512 133.003 C 564.512 139.233 576.006 136.395 579.686 137.622 C 592.082 141.753 612.817 124.332 609.376 110.571 C 606.639 99.622 599.121 88.459 588.264 84.839 C 583.914 83.389 572.218 85.288 569.13 82.2 C 567.392 80.463 569.13 68.034 569.13 65.046 C 569.13 47.466 569.232 27.867 572.429 10.285 C 568.753 9.625 583.284 10.405 585.624 9.625 C 595.343 6.385 609.13 8.965 615.974 8.965" />
    </g>
    <g>
        <title>Mirror</title>
        <g>
            <path d="M 278.828 -322.243 C 269.515 -320.913 258.475 -319.857 249.798 -316.965 C 244.077 -315.058 240.421 -310.151 235.283 -307.068 C 216.288 -295.671 200.459 -270.038 195.036 -248.348 C 191.449 -233.998 193.81 -216.959 189.098 -202.823 C 187.206 -197.146 189.644 -189.944 187.779 -184.35 C 184.879 -175.65 185.505 -155.838 187.779 -146.742 C 192.178 -129.145 184.17 -109.057 188.439 -91.981 C 189.502 -87.729 187.112 -81.439 189.098 -77.466 C 190.414 -74.834 202.15 -78.254 204.273 -78.785 C 214.94 -81.452 238.449 -84.427 250.458 -81.424 C 273.191 -75.741 296.793 -78.125 320.394 -78.125 C 326.135 -78.125 331.432 -78.785 336.889 -78.785 C 337.47 -78.785 341.866 -77.165 342.167 -77.466 C 348.236 -83.535 344.741 -93.829 348.765 -101.877 C 357.006 -118.361 346.928 -142.553 352.723 -159.938 C 356.036 -169.877 352.675 -182.225 356.022 -192.267 C 359.012 -201.236 358.001 -213.558 358.001 -223.276 C 358.001 -249.287 355.723 -277.018 336.889 -295.852 C 331.591 -301.15 326.124 -312.416 318.415 -314.985 C 311.528 -317.281 301.587 -318.451 295.323 -321.583 C 289.164 -324.662 272.755 -317.625 266.952 -317.625" />
            <path d="M 253.097 -332.799 C 241.889 -326.395 230.864 -321.353 219.448 -315.645 C 215.726 -313.784 213.108 -307.584 211.531 -304.429 C 208.066 -297.498 198.829 -289.582 194.377 -280.677 C 187.016 -265.956 185.921 -250.033 180.521 -233.833 C 170.187 -202.828 169.965 -173.254 169.965 -139.485 C 169.965 -126.803 165.95 -109.303 169.965 -97.259 C 171.506 -92.637 168.857 -83.192 171.944 -80.105 C 175.928 -76.121 171.033 -63.736 176.563 -60.971 C 187.188 -55.659 205.421 -66.336 216.149 -60.971 C 225.447 -56.323 245.106 -56.561 255.736 -58.332 C 276.579 -61.806 298.027 -54.176 318.415 -60.971 C 328.454 -64.318 340.598 -61.548 350.744 -64.93 C 352.937 -65.661 360.557 -64.187 361.96 -65.59 C 365.198 -68.827 362.345 -77.576 364.599 -82.084 C 372.167 -97.221 367.049 -119.593 371.197 -136.186 C 374.768 -150.471 373.617 -164.779 376.475 -179.071 C 386.579 -229.591 381.826 -293.605 336.889 -323.563 C 329.414 -328.546 324.927 -336.141 317.095 -340.057 C 301.538 -347.835 282.231 -349.548 265.633 -344.016 C 263.122 -343.179 256.992 -343.293 255.076 -341.376 C 253.228 -339.528 241.198 -329.501 238.582 -329.501" />
            <path d="M 175.903 -60.312 C 174.201 -53.504 177.543 -41.16 174.583 -35.24 C 174.152 -34.377 172.944 -28.962 173.924 -27.982 C 176.872 -25.034 183.458 -26.784 187.779 -25.343 C 189.971 -24.613 198.436 -24.124 200.315 -26.003 C 200.789 -26.477 198.159 -35.547 199.655 -38.539 C 202.551 -44.332 205.598 -57.672 213.51 -57.672" />
            <path d="M 360.641 -62.951 C 358.003 -53.718 359.321 -44.276 359.321 -35.24 C 359.321 -33.054 336.737 -28.794 334.909 -30.622 C 333.459 -32.072 335.115 -37.673 333.59 -39.199 C 326.742 -46.046 328.686 -59.652 316.435 -59.652" />
            <path d="M 212.85 -181.051 C 224.318 -185.965 234.593 -197.515 242.54 -205.462 C 248.126 -211.048 258.888 -213.233 264.973 -219.318 C 272.36 -226.705 279.75 -232.775 287.405 -240.431 C 291.853 -244.879 297.067 -251.412 301.261 -255.605 C 302.574 -256.919 304.604 -262.863 305.879 -262.863" />
            <path d="M 207.572 -138.165 C 216.811 -147.404 225.828 -167.195 237.922 -167.195" />
            <path d="M 270.911 -189.628 C 284.656 -207.954 300.641 -221.997 315.776 -237.132 C 319.08 -240.436 327.599 -254.946 330.951 -254.946" />
            <path d="M 239.901 -136.846 C 256.609 -160.236 280.918 -179.182 300.601 -198.865 C 305.771 -204.035 317.449 -221.297 324.353 -221.297" />
        </g>
    </g>
</svg>