@page
@model AdventCalendarWebApp.Pages._2020.Igloo.TaskBoard.Note18Model
@{
    ViewData["Title"] = "Note18";
}
<div class="btn-group-vertical d-block">
    <a asp-page="Index" class="btn btn-light">Go back to the task board</a>
    <a asp-page="../Index" class="btn btn-light">Go back to the igloos entry</a>
    <a asp-page="../../Map" class="btn btn-light">Exit the igloo</a>
</div>
<hr />
@if (Model.Solved)
{
    <div class="alert alert-success">You <a href="https://en.wikipedia.org/wiki/Knapsack_problem" target="_blank">knapsack</a>-genius, you solved my problem! There is no better solution than yours.</div>
}
else if (!ModelState.IsValid)
{
    <div class="alert alert-danger">@ModelState[string.Empty].Errors[0].ErrorMessage</div>
}
<p class="text-justify">
    I am in charge of planning Santa's first present delivery.
    We try to delivery as many presents as possible, while choosing from eight gift bags.
    Santa's sleigh is magical, but it cannot carry more than @(Model.MaxWeight)kg worth of gifts.
    Increasing the frequency of Santa's cardio workout sessions would definitely help, but what can I do?
    Can you help me selecting as many gift bags as possible while adhering to the weight limit?
    The number on the bags indicate the number of presents inside them.
</p>
<form method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="giftcheck1" asp-for="Answer1">
                <label class="form-check-label" for="giftcheck1">
                    Gift bag 1
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="giftcheck2" asp-for="Answer2">
                <label class="form-check-label" for="giftcheck2">
                    Gift bag 2
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="giftcheck3" asp-for="Answer3">
                <label class="form-check-label" for="giftcheck3">
                    Gift bag 3
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="giftcheck4" asp-for="Answer4">
                <label class="form-check-label" for="giftcheck4">
                    Gift bag 4
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="giftcheck5" asp-for="Answer5">
                <label class="form-check-label" for="giftcheck5">
                    Gift bag 5
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="giftcheck6" asp-for="Answer6">
                <label class="form-check-label" for="giftcheck6">
                    Gift bag 6
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="giftcheck7" asp-for="Answer7">
                <label class="form-check-label" for="giftcheck7">
                    Gift bag 7
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="giftcheck8" asp-for="Answer8">
                <label class="form-check-label" for="giftcheck8">
                    Gift bag 8
                </label>
            </div>
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Select" />
        </div>
    </div>
</form>
<svg class="img-fluid" viewBox="33.379 40.872 496.253 400.885" xmlns="http://www.w3.org/2000/svg">
    <g>
        <title>Value</title>
        <path d="M 92.303 279.292 C 93.143 277.611 94.167 275.724 95.028 274.864 C 96.37 273.521 100.165 279.604 101.158 278.611 C 102.732 277.037 104.243 271.136 107.97 274.864 C 108.915 275.808 110.317 280.692 108.652 282.357 C 107.784 283.225 108.272 286.484 107.289 287.466 C 104.693 290.062 102.616 300.6 104.564 304.496 C 106.496 308.359 109.511 308.762 112.398 311.649 C 119.696 318.946 128.277 323.781 135.559 331.063 C 136.505 332.009 136.14 334.709 136.921 335.491 C 140.43 339 139.987 350.322 139.987 356.267 C 139.987 357.815 140.667 363.421 139.646 364.442 C 138.425 365.663 139.096 368.739 137.603 370.232 C 135.367 372.468 133.736 375.461 131.472 377.725 C 130.593 378.604 128.166 378.527 127.044 379.087 C 122.583 381.318 115.776 381.812 110.355 381.812 C 108.427 381.812 104.607 380.599 102.861 381.472 C 100.771 382.517 97.42 380.786 95.368 381.812 C 93.62 382.686 90.983 381.812 88.897 381.812 C 84.191 381.812 80.579 381.812 75.613 381.812 C 74.031 381.812 67.163 382.217 66.077 381.131 C 63.881 378.936 62.21 375.902 59.946 373.638 C 58.278 371.97 60.7 366.558 59.265 365.123 C 58.287 364.145 60.374 358.729 60.968 356.949 C 63.411 349.619 71.032 340.753 76.295 335.491 C 83.753 328.032 88.515 319.523 94.687 313.352 C 99.488 308.551 95.064 296.017 91.622 292.575 C 90.751 291.705 90.522 288.674 89.919 287.466 C 88.267 284.164 92.81 277.248 95.028 277.248" />
        <path d="M 95.028 302.793 C 92.236 303.591 91.128 306.047 93.325 308.243 C 94.19 309.108 98.656 308.583 100.137 308.583 C 100.69 308.583 103.518 308.949 103.883 308.583 C 104.685 307.782 109.376 300.047 103.883 302.793" />
        <path d="M 197.548 280.995 C 199.392 277.767 201.162 274.656 203.338 272.48 C 205.317 270.501 209.972 275.805 211.853 274.864 C 213.137 274.222 219.508 269.576 222.071 272.139 C 224.129 274.197 221.242 278.566 220.028 280.995 C 218.13 284.789 213.883 292.874 215.6 298.025 C 216.195 299.809 215.592 302.785 216.962 304.156 C 228.19 315.384 248.577 323.106 256.131 338.216 C 260.513 346.98 261.791 356.868 257.153 366.145 C 256.577 367.297 256.07 369.581 254.769 370.232 C 251.053 372.09 247.268 374.321 243.188 375.341 C 241.002 375.887 236.428 375.63 235.014 377.044 C 234.133 377.925 230.434 376.981 229.224 377.384 C 226.469 378.303 222.96 378.473 220.368 379.769 C 216.29 381.808 209.682 378.47 205.722 380.45 C 204.012 381.305 200.908 380.79 198.91 380.79 C 193.34 380.79 187.117 382.216 182.221 379.769 C 179.034 378.175 178.877 374.442 177.112 370.913 C 176.3 369.289 177.657 366.212 178.134 364.782 C 179.723 360.016 180.617 355.73 182.902 351.158 C 190.642 335.677 201.226 322.005 208.788 306.88 C 212.954 298.548 205.012 293.198 202.657 288.488 C 201.273 285.719 196.446 283.119 199.592 279.973" />
        <path d="M 209.128 298.025 C 204.856 297.414 207.053 301.926 209.469 303.134 C 211.616 304.207 218.699 299.421 216.962 297.684 C 216.567 297.289 213.866 299.284 213.556 299.387" />
        <path d="M 336.513 285.082 C 336.207 282.64 337.487 273.648 341.962 275.886 C 343.476 276.642 344.514 280.741 346.731 279.632 C 347.782 279.107 354.497 274.049 355.586 276.226 C 359.511 284.075 347.713 290.794 352.521 300.409 C 352.973 301.314 352.825 303.438 353.543 304.156 C 356.871 307.484 360.536 311.148 363.761 314.374 C 365.735 316.348 369.271 316.138 370.573 317.439 C 374.18 321.046 378.885 322.685 382.494 326.295 C 388.19 331.991 389.498 340.836 392.03 348.434 C 393.9 354.043 394.691 363.825 390.327 368.188 C 389.681 368.834 389.337 370.897 388.624 371.254 C 372.425 379.354 351.373 379.087 332.085 379.087 C 326.363 379.087 315.051 380.787 311.649 377.384 C 308.488 374.224 306.658 370.585 305.178 366.145 C 303.175 360.137 308.869 351.609 311.308 346.731 C 314.756 339.835 321.428 334.568 326.295 329.701 C 333.164 322.831 338.079 314.51 344.687 307.902 C 345.23 307.359 344.87 305.335 345.368 304.837 C 349.732 300.473 340.627 292.97 338.897 289.51 C 337.682 287.081 334.967 285.606 337.875 282.698" />
        <path d="M 343.665 299.728 C 336.945 305.488 345.182 307.144 349.796 304.837 C 353.084 303.193 354.182 299.387 349.796 299.387" />
        <path d="M 457.425 286.104 C 457.002 282.717 456.702 284.144 457.425 282.698 C 457.893 281.763 458.006 280.414 458.788 279.632 C 461.502 276.918 464.07 282.952 466.622 281.676 C 468.975 280.5 473.787 275.558 476.158 277.929 C 478.412 280.183 474.715 285.326 474.115 287.126 C 471.476 295.043 466.868 303.627 471.049 311.989 C 473.055 315.999 477.866 318.634 481.608 320.504 C 483.659 321.53 487.128 321.256 488.761 322.889 C 494.951 329.079 495.463 337.315 499.319 345.028 C 500.145 346.68 499.521 349.178 500.341 350.818 C 501.721 353.577 502.904 361.359 501.363 364.442 C 493.527 380.114 473.749 368.31 459.81 372.957 C 452.357 375.441 443.995 373.079 436.308 375 C 434.397 375.478 429.729 376.99 427.793 376.022 C 422.438 373.344 425.261 360.117 427.112 354.564 C 431.364 341.81 439.953 333.549 448.57 324.932 C 450.911 322.591 453.919 321.626 456.404 319.142 C 458.863 316.683 460.895 313.289 462.875 311.308 C 463.138 311.045 464.303 306.946 463.897 306.54 C 462.959 305.602 463.237 303.176 462.534 301.771 C 460.781 298.265 459.019 294.291 457.766 290.532 C 457.162 288.72 459.129 287.014 459.129 285.082" />
        <path d="M 462.534 304.837 C 456.571 308.812 466.444 311.397 470.028 309.605 C 470.602 309.318 472.316 310.042 472.752 309.605 C 476.934 305.424 471.779 305.494 468.325 307.221" />
        <path d="M 82.425 130.109 C 81.744 130.109 81.063 130.109 80.381 130.109 C 79.655 130.109 81.23 128.92 81.744 128.406 C 82.821 127.329 84.146 127.044 85.831 127.044 C 90.183 127.044 94.344 129.764 96.049 133.174 C 97.639 136.354 88.879 145.107 86.853 146.458 C 86.237 146.868 82.771 149.869 83.447 150.545 C 85.423 152.521 93.177 152.344 96.39 153.951 C 99.905 155.709 102.973 163.64 99.114 166.213 C 95.182 168.834 87.027 169.959 83.787 169.959" />
        <path d="M 201.294 125.681 C 201.294 121.829 207.172 118.573 211.172 120.572 C 215.841 122.907 219.899 126.535 218.324 132.834 C 216.345 140.75 210.373 148.471 206.063 155.654 C 205.625 156.384 201.605 162.406 201.975 163.147 C 202.476 164.148 206.352 163.828 207.425 163.828 C 211.678 163.828 216.542 163.404 220.368 164.169 C 220.956 164.286 223.351 163.406 223.774 163.828" />
        <path d="M 356.267 120.572 C 352.565 120.984 340.411 127.536 345.708 132.834 C 350.669 137.794 363.22 143.991 360.014 153.61 C 358.394 158.471 346.983 164.839 345.027 157.016 C 344.194 153.682 349.104 150.382 351.158 148.842 C 354.348 146.449 365.463 136.47 365.463 132.493 C 365.463 127.686 360.284 123.704 356.608 121.253 C 355.728 120.667 352.928 120.299 352.861 120.232" />
        <path d="M 470.368 123.297 C 469.655 128.288 468.665 132.009 468.665 137.602 C 468.665 138.467 467.602 141.648 468.324 142.371 C 469.512 143.558 471.666 142.917 473.093 143.392 C 477.762 144.949 488.279 144.895 491.826 141.349" />
        <path d="M 480.926 130.45 C 480.195 140.695 479.223 151.951 479.223 161.785" />
        <path d="M 101.158 332.084 C 96.69 330.808 93.623 337.36 92.643 341.281 C 90.676 349.148 84.225 367.045 94.687 372.275 C 101.554 375.709 105.412 364.775 102.861 359.673 C 101.879 357.708 95.959 357.97 94.005 357.97 C 91.494 357.97 90.814 358.437 89.237 360.014" />
        <path d="M 204.36 330.722 C 210.343 331.32 215.688 329.36 221.73 329.36 C 222.965 329.36 226.604 328.784 227.52 329.7 C 229.161 331.341 225.6 337.722 225.136 339.578 C 223.067 347.854 220.708 360.19 220.708 367.507" />
        <path d="M 213.556 353.542 C 221.034 352.047 231.009 351.839 238.079 351.839" />
        <path d="M 341.962 357.97 C 346.857 362.865 357.976 361.079 356.608 351.499 C 356.123 348.108 353.739 343.593 350.477 341.962 C 349.507 341.477 347.265 341.134 346.73 340.599 C 346.434 340.304 346.807 338.258 346.73 337.875 C 346.009 334.267 345.206 331.601 347.071 328.338 C 350.554 327.657 357.535 327.997 362.738 327.997" />
        <path d="M 470.027 328.678 C 463.668 327.77 453.538 336.232 457.085 343.324 C 459.923 349.002 468.086 339.61 469.005 336.853 C 469.213 336.232 469.014 331.726 468.324 333.106 C 467.386 334.982 471.396 343.001 472.071 345.027 C 474.548 352.46 470.332 359.006 463.556 361.717 C 462.181 362.267 454.36 364.038 454.36 361.376" />
    </g>
    <g>
        <title>Sacks</title>
        <path d="M 57.561 186.649 C 61.942 188.839 67.542 186.36 71.526 188.352 C 76.302 190.74 82.775 187.673 87.875 189.373 C 90.728 190.324 99.807 189.708 102.52 188.352 C 107.808 185.708 116.746 189.924 121.935 187.33 C 126.773 184.91 130.29 183.743 133.856 180.177 C 139.121 174.912 149.551 167.999 146.117 157.698 C 145.048 154.491 145.079 150.853 143.733 148.161 C 141.536 143.768 138.182 140.123 135.899 135.559 C 131.454 126.667 120.331 120.771 116.144 112.398 C 113.793 107.694 109.522 103.921 107.289 99.455 C 106.269 97.415 105.991 93.729 104.564 92.302 C 103.959 91.697 104.107 88.773 103.883 87.875 C 101.399 77.94 109.603 75.413 112.738 69.142 C 113.816 66.987 116.576 61.74 114.441 59.605 C 112.144 57.308 108.513 62.127 107.289 63.352 C 105.912 64.729 101.688 62.254 100.477 61.649 C 97.668 60.244 93.693 62.983 92.643 64.033 C 91.771 64.904 88.761 64.169 87.534 65.395 C 86.428 66.501 87.317 70.41 87.875 71.526 C 89.977 75.73 92.883 79.498 95.027 83.787 C 95.786 85.305 97.744 89.926 96.049 91.621 C 94.037 93.634 89.954 99.383 88.896 101.499 C 87.165 104.961 81.363 108.11 77.997 110.354 C 72.928 113.734 69.135 117.854 65.054 121.935 C 55.777 131.212 51.198 142.154 45.64 153.27 C 44.213 156.125 44.278 161.121 44.278 164.51 C 44.278 177.394 48.629 188.011 61.989 188.011" />
        <path d="M 95.708 88.556 C 94.769 95.131 104.564 94.096 104.564 90.259" />
        <path d="M 204.36 59.264 C 206.118 56.451 206.276 56.667 207.766 55.177 C 209.418 53.525 212.337 57.854 214.237 57.221 C 215.902 56.666 222.824 54.228 223.774 55.177 C 224.666 56.069 227.491 54.436 228.202 55.858 C 229.157 57.77 221.731 62.327 220.708 64.373 C 217.585 70.62 215.181 84.391 221.73 90.94 C 230.892 100.102 246.961 109.044 253.406 121.935 C 254.879 124.88 258.799 127.611 260.218 130.45 C 262.459 134.931 264.986 138.027 264.986 143.733 C 264.986 144.507 265.146 147.66 264.646 148.161 C 262.999 149.807 263.027 154.123 261.921 156.335 C 258.283 163.611 251.614 175.113 244.891 178.474 C 237.86 181.989 228.251 180.518 219.687 180.518 C 199.663 180.518 180.924 184.395 172.003 166.553 C 169.892 162.332 166.512 155.436 168.597 149.183 C 169.597 146.183 168.852 142.2 170.3 139.305 C 174.241 131.422 178.394 123.458 182.221 115.804 C 185.069 110.107 193.583 106.826 197.548 102.861 C 203.893 96.516 207.754 89.6 211.853 81.403 C 212.345 80.42 211.952 76.053 211.512 75.613 C 210.82 74.921 211.524 72.218 210.831 71.526 C 207.852 68.547 205.041 63.691 205.041 59.605" />
        <path d="M 210.15 79.7 C 208.207 86.499 213.504 82.084 216.962 82.084" />
        <path d="M 357.629 58.583 C 357.825 57.019 356.641 49.881 354.223 51.09 C 352.849 51.777 353.458 53.642 352.861 54.837 C 352.799 54.961 352.908 56.54 352.861 56.54 C 352.285 56.54 351.128 54.125 350.817 53.815 C 346.409 49.406 343.319 52.463 340.94 57.221 C 338.665 61.77 344.363 68.155 345.708 70.845 C 349.486 78.4 351.787 83.212 347.411 91.962 C 345.302 96.18 341.898 101.563 338.896 104.564 C 334.362 109.099 328.578 112.599 325.954 117.847 C 324.657 120.44 320.431 122.763 319.482 124.659 C 317.783 128.059 315.559 131.989 312.67 134.877 C 311.125 136.423 312.23 140.087 310.967 141.349 C 308.982 143.334 310.833 148.771 309.605 151.226 C 308.977 152.483 309.578 157.303 310.286 158.719 C 314.197 166.541 313.913 172.624 322.888 177.112 C 329.67 180.503 339.827 176.06 347.071 178.474 C 351.387 179.913 361.932 178.707 365.804 176.771 C 367.069 176.139 370.14 176.771 371.594 176.771 C 375.952 176.771 382.808 177.295 386.58 175.409 C 391.053 173.172 397.78 173.746 401.567 169.959 C 403.393 168.133 405.115 164.027 407.016 162.125 C 411.498 157.643 402.821 146.923 400.886 143.052 C 397.525 136.331 392.18 131.622 387.262 126.703 C 383.583 123.024 380.622 118.02 377.044 114.441 C 371.631 109.029 366.037 105.03 362.738 98.433 C 359.243 91.442 352.684 81.757 356.948 73.229 C 359.038 69.049 359.579 62.083 362.398 59.264 C 362.706 58.956 364.054 55.811 363.42 55.177 C 361.989 53.746 361.038 55.518 360.014 55.518" />
        <path d="M 353.542 79.7 C 357.622 79.117 358.753 81.301 356.608 83.447 C 354.925 85.129 351.714 84.361 349.455 85.49 C 348.008 86.214 340.667 85.082 342.643 83.106 C 344.126 81.624 346.257 80.722 348.774 80.722" />
        <path d="M 462.875 57.561 C 463.107 56.633 465.635 48.401 467.984 50.749 C 468.546 51.311 471.356 54.343 472.411 53.815 C 473.815 53.113 473.877 51.328 474.796 50.409 C 476.52 48.684 480.139 50.984 481.267 52.112 C 482.754 53.599 479.723 58.947 479.223 59.946 C 477.224 63.944 472.919 77.823 477.52 82.425 C 485.473 90.378 493.994 99.579 501.703 107.289 C 505.611 111.197 510.558 116.142 512.602 122.275 C 514.021 126.533 515.413 131.731 517.03 136.58 C 519.193 143.069 520.182 153.779 517.03 160.082 C 516.642 160.858 516.923 162.914 516.349 163.488 C 514.793 165.044 512.571 167.606 510.559 169.619 C 508.951 171.226 505.229 171.201 503.747 172.684 C 503.109 173.321 500.861 172.935 500 173.365 C 495 175.865 487.213 172.266 482.289 174.728 C 478.306 176.719 472.27 175.139 468.324 177.112 C 466.036 178.256 462.916 176.644 460.49 177.452 C 449.089 181.253 438.355 172.349 434.264 164.169 C 433.754 163.149 434.377 160.314 434.605 159.401 C 435.947 154.031 436.266 149.267 438.692 144.414 C 447.951 125.896 460.889 111.26 470.027 92.984 C 476.28 80.478 462.534 67.777 462.534 56.88" />
        <path d="M 470.708 79.7 C 467.567 80.149 466.126 82.858 469.346 84.469 C 471.88 85.736 477.263 81.661 478.202 80.722 C 479.495 79.429 476.158 77.483 476.158 78.678" />
    </g>
    <g>
        <title>Weight</title>
        <path d="M 195.163 189.373 C 195.163 200.332 193.46 209.996 193.46 220.708" />
        <path d="M 207.084 188.692 C 207.084 200.042 206.744 210.914 206.744 222.071" />
        <path d="M 212.875 208.787 C 210.478 208.787 208.282 213.138 206.744 215.599 C 208.439 213.556 213.432 221.049 215.259 221.049" />
        <path d="M 225.477 208.447 C 222.872 209.191 216.84 215.709 221.39 217.984 C 226.879 220.728 231.438 204.87 226.158 210.15 C 225.093 211.215 228.142 216.028 228.542 216.962 C 230.784 222.192 236.248 235.542 228.202 238.76 C 224.508 240.238 221.038 234.706 222.071 231.608 C 223.368 227.718 224.412 226.073 227.861 223.774" />
        <path d="M 65.395 202.997 C 67.417 198.954 74.97 197.625 77.316 202.316 C 79.395 206.474 75.593 211.893 73.91 215.259 C 73.396 216.288 72.868 218.505 71.866 219.005 C 71.125 219.376 68.115 223.769 68.801 224.455 C 69.459 225.113 72.242 224.114 72.888 224.114 C 76.8 224.114 80.804 224.455 84.469 224.455" />
        <path d="M 90.94 197.548 C 89.631 203.44 92.5 210.918 90.599 216.621 C 89.777 219.088 89.237 221.791 89.237 224.455" />
        <path d="M 98.774 207.084 C 96.253 209.605 93.352 213.973 90.599 217.643 C 94.174 217.981 97.168 221.828 98.774 223.433" />
        <path d="M 111.035 209.809 C 107.07 210.305 101.455 213.809 103.883 218.665 C 104.291 219.48 103.805 221.181 104.905 221.73 C 109.232 223.894 113.917 214.394 111.035 211.512 C 110.522 210.999 111.302 214.696 111.376 214.918 C 112.009 216.818 112.354 218.776 113.079 220.708 C 115.264 226.535 115.289 233.494 113.42 239.101 C 110.942 246.533 101.489 228.883 107.97 228.883" />
        <path d="M 454.7 191.417 C 462.753 188.397 459.291 197.133 456.744 200.954 C 456.152 201.841 454.196 203.352 454.7 204.36 C 456.519 207.998 462.278 209.64 459.128 215.94 C 457.243 219.71 451.303 217.643 448.569 217.643" />
        <path d="M 471.049 191.758 C 469.326 195.779 469.701 201.351 470.708 205.381 C 471.513 208.6 470.027 212.614 470.027 215.259" />
        <path d="M 471.39 210.831 C 474.333 206.907 477.113 203.745 479.905 200.954" />
        <path d="M 473.774 206.744 C 474.455 209.469 478.883 213.197 478.883 215.599" />
        <path d="M 489.782 203.338 C 486.118 204.712 482.44 209.96 485.695 213.215 C 489.034 216.555 493.133 202.371 489.782 205.722 C 488.912 206.592 491.626 211.537 491.826 212.534 C 492.859 217.7 496.029 227.102 490.804 230.586 C 489.292 231.593 487.671 228.955 487.398 227.861 C 486.627 224.778 487.258 217.302 491.826 217.302" />
        <path d="M 341.962 188.352 C 339.851 187.824 331.506 190.26 333.447 194.142 C 334.349 195.947 337.645 196.071 339.237 196.867 C 344.536 199.516 349.62 207.683 343.324 210.831 C 341.062 211.962 336.305 208.522 337.534 206.063 C 339.705 201.721 354.372 193.072 342.302 190.055 C 340.756 189.668 339.419 189.033 337.875 189.033" />
        <path d="M 354.905 186.989 C 353.505 191.655 354.564 197.174 354.564 202.316 C 354.564 203.55 355.11 206.879 354.223 207.766" />
        <path d="M 361.376 197.888 C 360.522 197.888 355.949 203.315 355.586 203.678 C 359.718 200.272 359.386 207.425 363.079 207.425" />
        <path d="M 373.978 198.569 C 370.592 198.569 364.247 204.773 369.55 207.425 C 371.88 208.59 374.291 204.85 375.681 202.997 C 376.236 202.257 376.319 198.954 375.681 199.591 C 374.919 200.353 376.8 203.385 377.044 204.36 C 377.911 207.831 381.488 215.761 377.044 217.984 C 376.178 218.416 371.809 216.192 372.616 214.578 C 373.717 212.376 375.286 210.885 377.044 209.128" />
        <path d="M 78.678 389.986 C 71.163 396.429 64.021 416.036 76.635 422.343 C 81.907 424.979 85.717 415.984 83.787 412.125 C 80.914 406.378 73.889 410.422 71.185 410.422" />
        <path d="M 95.708 389.305 C 95.008 396.312 97.456 403.772 95.708 410.763 C 95.107 413.168 96.157 417.126 95.027 418.256" />
        <path d="M 96.73 413.828 C 98.406 410.757 100.849 408.997 102.18 406.335 C 103.162 404.372 103.356 401.753 104.905 400.204" />
        <path d="M 99.796 406.335 C 100.447 411.547 104.885 417.555 107.629 420.3" />
        <path d="M 118.529 404.973 C 115.492 405.648 108.235 413.803 114.441 415.872 C 117.996 417.057 122.753 409.197 120.572 407.016 C 120.421 406.865 119.21 404.973 118.529 406.335 C 117.584 408.224 120.097 409.337 120.572 410.763 C 122.509 416.572 128.753 422.657 127.044 429.496 C 126.568 431.397 126.64 433.831 124.319 434.605 C 114.305 437.943 114.668 415.872 122.956 415.872" />
        <path d="M 189.373 391.008 C 193.218 391.008 201.406 387.373 204.7 390.668 C 205.742 391.709 204.269 397.502 204.019 398.501 C 202.368 405.107 202.657 417.335 202.657 423.025" />
        <path d="M 195.504 407.357 C 199.642 407.357 203.291 407.284 207.084 406.335 C 208.282 406.036 210.831 406.16 210.831 404.632" />
        <path d="M 219.687 387.943 C 218.409 393.051 219.13 399.339 220.368 404.292 C 221.524 408.915 219.005 415.138 219.005 419.959" />
        <path d="M 219.687 413.828 C 222.527 410.419 226.244 407.525 228.202 403.61 C 228.491 403.032 229.905 402.189 229.905 401.567" />
        <path d="M 222.752 408.719 C 223.25 410.547 228.823 421.041 230.926 418.937" />
        <path d="M 242.847 403.61 C 237.795 403.61 237.507 406.579 236.376 411.104 C 236.109 412.173 235.779 414.892 237.057 415.531 C 243.351 418.678 244.547 402.933 241.144 406.335 C 240.291 407.189 244.191 411.747 244.55 412.466 C 246.787 416.939 251.645 429.895 247.275 434.264 C 244.365 437.175 238.908 434.219 237.398 431.199 C 235.439 427.282 237.268 421.792 240.123 418.937" />
        <path d="M 331.744 414.169 C 331.744 418.105 337.435 420.399 340.599 417.234 C 341.607 416.227 341.489 415.114 342.302 413.488 C 342.525 413.042 343.149 410.247 342.643 409.741 C 341.429 408.528 341.589 405.468 339.237 404.292 C 338.185 403.765 335.992 403.61 334.809 403.61 C 334.513 403.61 332.766 404.393 332.766 403.61 C 332.766 398.936 331.448 393.74 333.787 389.646 C 328.884 391.825 340.325 389.305 341.621 389.305" />
        <path d="M 352.52 389.986 C 350.879 393.817 353.121 397.381 351.839 401.226 C 350.269 405.938 350.817 413.222 350.817 418.256" />
        <path d="M 358.992 400.886 C 356.497 403.38 353.608 408.261 351.839 411.444 C 354.566 409.402 354.585 411.806 355.926 413.147 C 357.007 414.227 358.992 415.026 358.992 416.553" />
        <path d="M 370.913 403.61 C 366.66 402.547 365.393 405.596 364.441 409.401 C 364.071 410.883 364.121 413.838 365.463 414.51 C 368.978 416.267 372.486 404.632 368.188 404.632 C 367.965 404.632 368.806 406.55 368.869 406.676 C 369.771 408.48 370.031 410.361 370.913 412.125 C 372.83 415.96 375.137 425.272 371.594 428.815 C 370.071 430.338 365.64 426.444 365.123 425.409 C 363.613 422.39 367.166 418.256 369.21 416.213" />
        <path d="M 447.548 385.899 C 440.565 385.123 434.99 393.414 442.439 397.139 C 446.955 399.397 447.365 392.236 448.229 389.646 C 448.437 389.02 447.548 385.899 447.548 385.899 C 447.548 385.899 447.326 390.801 447.548 391.689 C 448.939 397.252 450.824 407.745 448.91 413.488 C 447.402 418.011 440.395 419.621 440.395 413.828" />
        <path d="M 457.084 383.515 C 457.085 393.215 457.766 403.205 457.766 413.147" />
        <path d="M 465.94 396.458 C 463.015 399.383 460.163 403.352 458.447 407.357 C 459.469 406.399 466.962 410.007 466.962 411.785" />
        <path d="M 477.861 398.501 C 470.296 396.61 468.838 404.465 473.093 408.719 C 475.592 411.219 478.883 401.352 478.883 400.204 C 478.883 399.856 478.555 395.41 477.52 397.48 C 476.543 399.434 478.098 402.33 478.883 404.292 C 481.223 410.141 485.582 423.63 477.18 426.431 C 474.448 427.341 470.643 423.837 472.071 420.981 C 474.168 416.786 476.902 412.403 480.245 409.06" />
    </g>
</svg>