@page
@model AdventCalendarWebApp.Pages._2020.Igloo.TaskBoard.Note11Model
@{
    ViewData["Title"] = "Note11";
}
<div class="btn-group-vertical d-block">
    <a asp-page="Index" class="btn btn-light">Go back to the task board</a>
    <a asp-page="../Index" class="btn btn-light">Go back to the igloos entry</a>
    <a asp-page="../../Map" class="btn btn-light">Exit the igloo</a>
</div>
<hr />
@if (!ModelState.IsValid)
{
    <div class="alert alert-danger">@ModelState[string.Empty].Errors[0].ErrorMessage</div>
}
else if (Model.Solved)
{
    <div class="alert alert-success">
        Yeah, correct.
        This time, the letter at the position indicated by the number of verticies of the shape needs to be selected.
        Another prevented disruption.
        Perfect, the moat of my small village should be safe now.
    </div>
}
<p class="text-justify">
    The saboteur still is confident enough to tell us the target of his next disruptions.
    This note is similar to yesterday.
</p>
<blockquote class="blockquote border p-3">
    <p class="text-justify">
        Hello there,
        <br />
        it was unforseeable, but you solved my previous riddle.
        Let us do it again, just a bit harder.
        <br />
        Sincerely yours,
        <br />
    </p>
</blockquote>
<p class="text-justify">
    Today we only have four shapes: Rhombus, Hexagon, Pentagon and Rectangle.
</p>
<form method="post">
    <div class="input-group">
        <input asp-for="Answer" class="form-control" type="text" maxlength="16" />
        <div class="input-group-append">
            <input class="btn btn-dark" type="submit" value="Solve" />
        </div>
    </div>
</form>
<svg class="img-fluid" viewBox="5.201 0 126.214 526.005" xmlns="http://www.w3.org/2000/svg">
    <path d="M 26.699028543514665 85.29819508707281 C 29.808546818172843 74.41487907462748 35.346236424837294 63.4961486713215 40.56865310668945 53.05131530761719 C 43.054124167953404 48.080373185089286 44.39592398998232 41.916247195092105 46.11650466918945 36.7545051574707 C 48.12028373585162 30.74316795748419 52.07601304647685 25.528967940859772 54.78501892089844 20.1109561920166 C 56.08404307834338 17.512907877126725 56.865426929809125 12.482699481628865 58.94590759277344 10.40221881866455 C 60.39860645336147 8.949519958076523 63.65477437416432 15.21170333981093 64.14701843261719 15.950069427490234 C 68.29082405105994 22.165777855154374 71.36284758154977 30.250298559841674 73.16226959228516 37.4479866027832 C 74.31958255925768 42.0772384706733 77.6356222622753 47.08816957337873 79.7503433227539 51.31761169433594 C 83.22005158974237 58.25702822831287 83.91637867368972 65.89100777462552 87.03189849853516 72.1220474243164 C 87.7763996235057 73.61104967425749 90.65806804093978 81.1665223043509 89.80582427978516 82.87100982666016 C 82.76393815586395 96.95478207450257 73.39856295643725 110.70533923870414 69.34812927246094 126.90707397460938 C 67.61573679823071 133.83664387153027 63.34972997471925 139.80495278178705 61.71983337402344 146.3245391845703 C 61.047977473770814 149.0119627855808 60.53089230313073 152.71459109530676 58.94590759277344 154.29957580566406 C 57.94640538145233 155.29907801698516 55.96773660707676 149.9344419293424 55.47850036621094 149.44520568847656 C 50.417975215896256 144.3846805381619 47.059975190316365 134.93859637783387 44.72954177856445 127.94729614257812 C 40.89550627654102 116.44518963650782 36.432055904778494 104.4175099418812 31.20665740966797 93.96671295166016 C 29.883548661015304 91.32049545435483 26.00554656982422 87.62489415807491 26.00554656982422 84.6047134399414" />
    <path d="M 24.271844130467876 214.632450239423 C 21.343767576396495 226.34475543904293 26.33741237842042 242.06959384313228 22.53814125061035 253.4674072265625 C 21.76487251126548 255.7872134445971 19.58063704401892 264.72627264887734 20.8044376373291 265.9500732421875 C 25.708003765735864 270.85363937059424 33.28460835227351 273.92262028464654 37.79472732543945 278.4327392578125 C 44.836406436272874 285.4744183686459 53.38427023645655 292.8155558335603 62.06657409667969 297.1567077636719 C 63.58781372981957 297.9173275802418 65.6616325645767 296.05265997503585 66.92094421386719 295.4230041503906 C 70.51534653599802 293.6258029893252 74.02515697004269 289.79044962166813 78.01663970947266 287.7947082519531 C 83.45655051092166 285.07475285122865 88.06167631389616 280.5184057700539 94.3134536743164 277.39251708984375 C 97.9850644712191 275.5567116913924 101.90051798000852 273.61959310397583 104.36892700195312 271.15118408203125 C 106.97811776980731 268.54199331417703 112.14051045522265 267.5404893006367 114.07766723632812 265.60333251953125 C 117.1661309824895 262.51486877336987 116.50287825291824 255.55377368851094 117.89181518554688 251.386962890625 C 118.68931884765625 248.99445190429688 117.09431152343751 245.80443725585937 117.89181518554688 243.41192626953125 C 119.02409258515831 240.01509407069693 118.93203735351562 235.37074297119614 118.93203735351562 231.62274169921875 C 118.93203735351562 229.68187790280967 118.62331630225512 224.30316685204176 119.62551879882812 223.30096435546875 C 120.37122914741012 222.55525400688677 119.69305667845282 214.35324344603094 119.27877807617188 213.93896484375 C 111.2568443297011 205.91703109727922 99.52990020790813 199.27051330592315 89.80582427978516 192.7877960205078 C 84.11418492687542 188.99336978523465 80.70303245947025 183.7287707158191 75.24271392822266 180.9986114501953 C 73.95398123202345 180.35424510209572 72.32658508305941 177.77567993161483 70.04161071777344 178.9181671142578 C 61.90052510549462 182.9887099203972 59.504154154705944 193.02878382352594 51.66435241699219 196.9486846923828 C 43.98379564520269 200.78896307827756 38.82451307952199 207.356111227573 31.90013885498047 210.81829833984375 C 29.635415679294542 211.9506599276867 22.8848819732666 214.9021598384301 22.8848819732666 215.67266845703125" />
    <path d="M 24.271844130467876 365.8113651091943 C 24.928467008551923 370.40772586223164 27.070148904743004 373.16606652624074 28.43273162841797 377.2538146972656 C 31.186740545969506 385.51584144992023 33.96412167286448 395.9618457470834 39.5284309387207 401.5256652832031 C 41.69030087441149 403.6873449469404 41.62013124096982 407.08474229443664 43.34257888793945 408.80718994140625 C 43.58749256138691 409.0521036148537 47.63068980027667 408.80718994140625 48.5436897277832 408.80718994140625 C 52.75735291311067 408.80718994140625 60.43283974632806 407.1234709595898 63.80027770996094 408.80718994140625 C 66.27661110589699 410.0453566393743 70.98535294688884 409.50067138671875 73.85575103759766 409.50067138671875 C 79.27524153040456 409.50067138671875 84.83096310592508 410.19415283203125 90.49930572509766 410.19415283203125 C 93.6738896800821 410.19415283203125 97.42304715861114 410.89870729695525 99.51456451416016 408.80718994140625 C 105.76608490087854 402.5556695546879 107.91150740841987 390.7015297009551 114.77114868164062 383.8418884277344 C 118.37458934345331 380.2384477659217 125.86685180664062 367.8834329099995 125.86685180664062 363.3841857910156 C 125.86685180664062 360.89732157583046 117.42291930400611 355.0574772587663 115.11788940429688 353.3287048339844 C 110.55039581840265 349.9030846445637 106.57024400509962 346.012151195457 101.94174194335938 342.9264831542969 C 100.30264216859747 341.8337499711223 98.53890196905598 338.67153411582467 96.74063873291016 338.0721130371094 C 91.47973622139278 336.3184788666036 83.03032577464201 329.56291091868496 79.7503433227539 326.2829284667969 C 77.07338396692997 323.6059691109729 73.30343700094365 319.9388049872882 70.73509216308594 318.6546325683594 C 70.16357982460197 318.36887639911737 68.53997533140134 316.3421200055127 67.61442565917969 317.2676696777344 C 57.227617064040714 327.65447827287335 48.765166886754855 343.745228163294 37.4479866027832 355.0624084472656 C 34.2665398301647 358.2438552198841 31.73319396325783 361.90732498492383 28.08599090576172 363.7309265136719 C 26.710303353172336 364.4187702899666 25.412212449615154 367.1983337402344 24.9653263092041 367.1983337402344" />
    <path d="M 13.869625217410203 447.6421538919146 C 16.899026088815145 459.7597548679559 14.909847259521484 475.2869386949718 14.909847259521484 488.2108154296875 C 14.909847259521484 492.24160220715873 13.752707296626118 497.451884484356 14.563106536865234 500.6934814453125 C 15.632231609312388 504.9699817351011 12.863431483177726 512.863435297875 15.950069427490234 515.9500732421875 C 16.812145492890487 516.8121493075878 20.61362653752453 516.2968139648438 21.84465980529785 516.2968139648438 C 27.976896587694466 516.2968139648438 34.21176078949455 515.9500732421875 40.2219123840332 515.9500732421875 C 48.67194440002951 515.9500732421875 59.14602006788604 514.52308785654 67.61442565917969 512.8294067382812 C 70.8042642812886 512.1914390138595 75.49573501096856 513.569748003549 78.3633804321289 512.1359252929688 C 83.38708798453872 509.6240715167638 92.41446083692266 513.5779845916312 97.7808609008789 511.7891845703125 C 104.19389885795111 509.6515052512884 114.19258173450017 513.4654309345077 119.62551879882812 510.74896240234375 C 121.28702240428194 509.9182105996168 121.01248168945312 503.72671261418606 121.01248168945312 502.0804443359375 C 121.01248168945312 495.33273106194054 120.28001046581115 484.5136368154572 122.39944458007812 478.15533447265625 C 125.0854445624862 470.097334525432 119.88579775089342 460.7309429289604 122.39944458007812 453.19000244140625 C 122.75336004686012 452.12825604106024 124.44522460462984 445.87378295423923 123.43966674804688 444.86822509765625 C 122.6051979274414 444.03375627705077 120.04811844167115 446.46648780970276 118.93203735351562 445.908447265625 C 112.65320105515073 442.76902911644254 101.71248449136431 445.56170654296875 94.66019439697266 445.56170654296875 C 66.93194820751427 445.56170654296875 36.86602108991522 449.3758544921875 11.78918170928955 449.3758544921875" />
</svg>