@page
@model AdventCalendarWebApp.Pages._2020.Igloo.TaskBoard.Note14Model
@{
    ViewData["Title"] = "Note14";
}
<div class="btn-group-vertical d-block">
    <a asp-page="Index" class="btn btn-light">Go back to the task board</a>
    <a asp-page="../Index" class="btn btn-light">Go back to the igloos entry</a>
    <a asp-page="../../Map" class="btn btn-light">Exit the igloo</a>
</div>
<hr />
<p class="text-justify">
    Grab the gift wrap from the west wing of this igloo and start packing five presents.
    There are 5 gift wrap rolls in 5 different colors.
    The first present needs to be wrapped in green, the second in yellow, the third in orange, the fourth in blue and the fifth in red.
    Let's keep on rollin'.
</p>