@page
@model AdventCalendarWebApp.Pages._2021.IndexModel
@for (int i = 0; i < 15; i++)
{
    <a asp-page="WikiWordRiddle" asp-route-seed="@i" asp-route-number="5" class="btn btn-secondary m-2">Seed @i.ToString("D2")</a>
}