@page
@model AdventCalendarWebApp.Pages._2021.WikiWordRiddleModel

<ul>
    @foreach (var word in Model.Words)
    {
        <li>@word</li>
    }
</ul>
@if (string.IsNullOrEmpty(Model.Message) ||
  Model.Message == "Incorrect")

{
<form method="post">
    <div class="input-group">
        <input asp-for="Guess" class="form-control" type="text" maxlength="16" />
        <input type="hidden" asp-for="Keyword" />
        <input type="hidden" asp-for="Number" />
        <div class="input-group-append">
            <input class="btn btn-dark" type="submit" value="Solve" />
        </div>
    </div>

</form>
}
else
{
    <p>@Model.Message</p>
}
<p>Test @Model.Message</p>