@page
@model AdventCalendarWebApp.Pages._2020.SnowCannon.IndexModel
@{
    ViewData["Title"] = "Snow cannon";
}
<div class="btn-group-vertical d-block">
    <a asp-page="../Map" class="btn btn-light">Leave the snow cannon</a>
</div>
<hr />
@if (Model.CanSolve)
{
    @if (!ModelState.IsValid)
    {
        <div class="alert alert-danger">@ModelState[string.Empty].Errors[0].ErrorMessage</div>
    }
    else if (Model.Solved)
    {
        <div class="alert alert-success">
            Nice deduction, you noticed the open doors.
            The saboteur flipped all switches in the rooms with open doors.
            Well done!
            The snow cannon now brings joy to every one.
        </div>
    }
    <p class="text-justify">
        Oh no!
        The saboteur sabotaged and flipped some switches.
        I don't know which switches he flipped.
        This makes it impossible for me to turn on the snow cannon.
        Can you help me figure out the position of each switch?
    </p>
    @if (!Model.Solved)
    {
        <form method="post">
            <div class="row">
                <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="switchRoom1" asp-for="Answer1">
                        <label class="form-check-label" for="switchRoom1)">
                            Door 1
                        </label>
                    </div>
                </div>
                <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="switchRoom2" asp-for="Answer2">
                        <label class="form-check-label" for="switchRoom2">
                            Door 2
                        </label>
                    </div>
                </div>
                <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="switchRoom3" asp-for="Answer3">
                        <label class="form-check-label" for="switchRoom3">
                            Door 3
                        </label>
                    </div>
                </div>
                <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="switchRoom4" asp-for="Answer4">
                        <label class="form-check-label" for="switchRoom4">
                            Door 4
                        </label>
                    </div>
                </div>
                <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="switchRoom5" asp-for="Answer5">
                        <label class="form-check-label" for="switchRoom5">
                            Door 5
                        </label>
                    </div>
                </div>
                <div class="col col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="switchRoom6" asp-for="Answer6">
                        <label class="form-check-label" for="switchRoom6">
                            Door 6
                        </label>
                    </div>
                </div>
                <div class="col-12 mt-4 mb-4">
                    <input type="submit" class="btn btn-primary btn-block" value="Start snow cannon" />
                </div>
            </div>
        </form>
    }
}

<svg viewBox="-5.826 0 510.798 529.418" xmlns="http://www.w3.org/2000/svg">
    <g>
        <title>SnowCannon</title>
        <path d="M 266.297 238.211 C 261.007 237.455 256.633 239.229 252.427 241.331 C 249.817 242.637 246.829 243.437 244.105 244.799 C 240.912 246.396 239.1 250.498 236.477 253.121 C 228.01 261.588 224.378 272.736 221.567 283.981 C 220.115 289.789 217.104 301.061 220.18 307.212 C 223.099 313.049 223.39 320.567 226.422 326.63 C 237.645 349.076 260.179 354.116 282.247 358.53 C 289.215 359.923 298.187 356.87 304.438 354.369 C 322.712 347.059 331.67 332.234 338.766 314.494 C 340.622 309.854 340.01 303.824 341.54 299.237 C 342.381 296.713 341.144 290.372 340.499 287.795 C 338.136 278.343 336.404 269.548 332.178 261.096 C 328.341 253.424 317.874 245.622 311.373 242.372 C 308.311 240.841 304.314 240.576 301.664 239.251 C 298.411 237.624 293.719 239.092 290.569 237.517 C 287.624 236.045 282.218 237.517 279.126 237.517 C 278.255 237.517 275.445 236.931 274.965 237.171 C 272.712 238.297 265.21 239.251 263.523 239.251" />
        <path d="M 244.105 243.759 C 231.345 248.863 219.976 256.031 208.738 263.523 C 198.501 270.347 187.592 275.771 176.838 282.94 C 164.544 291.137 147.592 300.397 139.39 308.599 C 137.199 310.79 138.999 316.793 138.35 320.042 C 135.786 332.858 137.87 349.462 141.817 361.304 C 145.376 371.982 147.325 386.229 155.687 394.591 C 162.288 401.192 167.997 404.734 175.451 408.46 C 178.832 410.151 183.22 409.918 186.546 411.581 C 188.15 412.383 190.928 411.455 192.094 412.621 C 193.089 413.616 198.242 409.721 199.376 409.154 C 204.677 406.503 210.977 403.091 216.713 401.179 C 218.667 400.528 220.242 398.038 222.261 397.365 C 226.103 396.084 229.115 393.071 232.316 391.47 C 236.485 389.386 240.383 388.258 243.412 385.229 C 245.781 382.86 250.44 382.362 252.427 380.374 C 253.004 379.798 255.365 379.864 255.895 379.334 C 261.352 373.877 272.278 374.74 277.393 369.626 C 279.161 367.857 282.002 368.136 283.981 366.158 C 287.136 363.002 292.956 358.183 297.157 358.183" />
        <path d="M 207.698 405.34 C 208.669 415.057 210.125 424.686 210.125 434.466 C 210.125 438.236 210.472 441.881 210.472 445.562 C 210.472 446.433 209.885 449.243 210.125 449.723 C 211.595 452.663 221.115 452.15 223.994 452.15 C 233.115 452.15 241.669 451.805 250.347 450.069 C 255.863 448.966 261.684 450.815 266.644 448.336 C 269.877 446.719 274.171 448.559 277.393 446.949 C 278.524 446.383 280.452 447.764 281.207 446.255 C 281.669 445.331 280.744 443.712 281.207 442.788 C 282.321 440.559 279.932 429.948 278.779 426.491 C 276.679 420.189 279.701 412.148 278.086 405.687 C 276.501 399.345 277.32 392.294 275.312 386.269 C 274.012 382.37 271.845 376.423 271.845 373.093" />
        <path d="M 301.318 415.395 C 311.612 413.925 323.482 415.315 334.258 412.621 C 337.573 411.793 347.106 408.816 351.248 410.888 C 352.039 411.283 350.494 413.782 350.208 414.355 C 348.566 417.639 346.945 420.881 345.354 424.064 C 343.314 428.143 342.09 435.302 339.112 438.28 C 337.702 439.69 338.229 443.671 336.338 445.562 C 334.874 447.026 324.974 444.868 321.429 444.868 C 317.916 444.868 314.596 446.949 311.026 446.949 C 308.238 446.949 304.277 446.656 301.318 447.642 C 298.798 448.482 294.411 446.574 292.649 448.336 C 291.948 449.037 288.479 447.637 287.795 447.295 C 285.53 446.163 280.788 448.061 279.473 449.376 C 285.226 443.276 285.722 439.304 288.141 434.466 C 291.387 427.975 296.835 421.933 299.584 416.435 C 300.665 414.273 298.376 404.657 297.503 402.913 C 294.628 397.161 295.053 388.973 292.996 382.802 C 292.376 380.943 293.174 378.303 292.302 376.56 C 290.442 372.839 288.835 368.774 288.835 364.424" />
        <path d="M 209.085 451.456 C 198.862 448.049 183.963 448.115 173.37 450.763 C 169.384 451.759 166.326 452.61 162.621 453.537 C 162.08 453.672 159.001 455.117 158.46 454.577 C 157.869 453.985 159.781 451.729 160.194 451.11 C 162.531 447.605 164.851 444.818 167.129 441.401 C 170.775 435.932 175.912 425.394 181.345 422.677 C 182.7 422 188.223 422.822 189.32 423.37 C 194.074 425.747 202.376 424.411 207.351 424.411" />
        <path d="M 156.38 455.964 C 158.826 460.244 157.158 464.359 158.114 469.14 C 160.136 479.253 160.888 490.295 160.888 501.04 C 160.888 505.247 160.541 509.026 160.541 513.176 C 160.541 513.78 160.063 517.206 160.541 517.684 C 161.955 519.098 168.343 518.06 170.25 518.377 C 176.362 519.396 183.553 518.535 189.32 520.458 C 192.452 521.502 196.508 519.654 199.723 520.458 C 235.346 529.364 275.033 524.862 309.293 516.297 C 318.274 514.052 331.411 516.023 337.379 510.055 C 340.207 507.227 338.072 497.264 338.072 493.759 C 338.072 488.022 339.174 477.585 336.685 472.607 C 334.922 469.082 338.321 463.647 337.032 459.778 C 336.008 456.705 334.951 451.231 334.951 448.336" />
        <path d="M 351.248 409.847 C 351.248 418.663 351.839 429.344 353.329 438.28 C 354.638 446.137 352.598 454.812 355.062 462.205 C 355.583 463.766 354.542 465.846 355.062 467.406 C 355.936 470.028 357.836 476.597 357.836 478.502 C 357.836 479.731 355.612 479.83 355.062 480.929 C 353.504 484.046 350.59 488.176 348.128 490.638 C 343.94 494.826 344.487 503.207 339.112 505.895 C 338.084 506.409 337.91 509.362 337.032 509.362" />
        <path d="M 228.502 261.789 C 232.23 263.919 234.999 264.864 238.558 266.644 C 240.693 267.711 243.059 266.638 244.799 268.377 C 245.492 269.071 244.014 271.335 243.759 271.845 C 242.277 274.809 242.694 278.483 240.985 281.9 C 239.553 284.764 239.251 291.432 239.251 294.383 C 239.251 295.446 239.573 300.302 238.904 300.971 C 237.811 302.064 233.14 299.345 231.276 300.277 C 228.952 301.44 222.049 304.092 220.18 304.092" />
        <path d="M 222.954 315.534 C 226.663 313.415 236.281 309.541 240.638 311.72 C 241.702 312.252 242.194 315.01 243.065 315.881 C 245.071 317.887 247.518 320.334 249.653 322.469 C 251.023 323.839 257.975 327.304 257.975 328.71 C 257.975 336.089 251.734 342.561 251.734 349.168" />
        <path d="M 261.442 351.942 C 263.523 348.614 265.632 342.898 268.031 340.499 C 268.249 340.281 269.361 335.645 269.417 335.645 C 269.962 335.645 274.28 338.076 274.965 338.419 C 278.358 340.115 283.762 339.003 287.448 340.846 C 288.496 341.37 291.51 340.053 292.302 340.846 C 293.098 341.642 292.195 343.058 292.649 343.967 C 293.785 346.239 295.076 350.865 295.076 353.329" />
        <path d="M 306.865 351.248 C 308.399 348.565 308.892 344.498 307.906 341.54 C 307.732 341.018 306.008 337.196 306.172 337.032 C 308.165 335.039 313.045 335.076 314.84 331.484 C 316.02 329.124 317.56 324.603 319.348 322.816 C 319.533 322.631 321.74 323.728 322.122 323.856 C 324.737 324.727 329.571 325.936 332.178 325.936" />
        <path d="M 334.258 316.574 C 330.201 314.256 322.746 312.343 320.042 309.639 C 320.025 309.623 324.191 301.005 324.549 299.931 C 325.716 296.43 324.172 290.478 323.162 287.448 C 322.846 286.498 321.724 283.389 322.122 282.594 C 323.864 279.109 330.626 274.089 332.871 271.845" />
        <path d="M 329.057 257.975 C 325.932 260.058 323.451 263.032 320.388 264.563 C 319.422 265.046 317.328 267.684 316.921 267.684 C 316.002 267.684 315.35 264.726 314.84 264.216 C 313.144 262.52 310.162 258.583 307.559 257.282 C 303.647 255.325 295.931 255.362 293.343 252.774 C 292.833 252.264 294.383 248.73 294.383 247.92 C 294.383 245.228 292.996 242.577 292.996 240.638" />
        <path d="M 280.86 239.598 C 280.464 242.366 282.775 252.245 280.86 254.161 C 279.771 255.25 276.812 253.758 275.312 254.508 C 273.375 255.476 269.121 255.497 267.684 256.935 C 266.193 258.426 263.603 258.936 262.136 260.402 C 262.101 260.437 260.226 262.654 260.055 262.483 C 256.293 258.72 251.866 249.307 244.105 249.307" />
    </g>
    <g>
        <title>Label</title>
        <path d="M 183.953 461.114 C 180.435 459.607 172.732 461.211 175.285 466.316 C 176.074 467.894 178.432 468.102 179.099 469.436 C 180.628 472.494 187.639 482.266 178.405 482.266 C 176.369 482.266 174.105 480.185 172.858 480.185" />
        <path d="M 187.767 473.597 C 191.33 491.409 187.234 474.264 188.808 477.411 C 189.1 477.997 188.808 479.493 188.808 480.185 C 188.808 480.648 188.808 482.034 188.808 481.572 C 188.808 478.32 189.469 474.67 191.581 472.557 C 192.21 471.928 194.264 469.692 195.396 470.823 C 198.438 473.865 194.844 481.367 197.476 483.999" />
        <path d="M 207.532 471.17 C 204.631 471.584 199.397 479.412 203.717 481.572 C 205.775 482.601 208.867 482.985 211.692 481.572 C 216.613 479.112 211.637 470.768 209.612 468.743 C 208.685 467.815 206.491 467.603 206.491 469.089" />
        <path d="M 218.281 472.21 C 218.366 472.805 219.079 479.838 220.014 479.838 C 220.25 479.838 222.038 472.154 223.135 473.25 C 224.936 475.051 224.9 479.177 226.602 480.879 C 227.387 481.663 229.186 476.31 229.376 476.024 C 229.976 475.124 232.844 471.198 232.844 470.13" />
        <path d="M 256.422 467.356 C 251.002 466.678 251.926 468.027 250.181 471.517 C 249.68 472.518 249.519 475.363 250.181 476.024 C 253.126 478.969 256.051 477.065 258.156 477.065" />
        <path d="M 269.251 466.316 C 269.707 469.051 270.985 473.224 270.985 476.024" />
        <path d="M 267.817 467.45 C 265.427 466.084 260.987 467.357 259.835 469.66 C 259.664 470.002 258.728 472.114 259.098 472.485 C 259.599 472.985 259.607 474.274 260.449 474.695 C 263.387 476.164 265.977 476.169 269.168 476.169" />
        <path d="M 273.221 465.239 C 273.636 467.937 274.293 470.601 274.817 473.221 C 274.826 473.267 274.94 475.309 274.94 475.309 C 274.94 475.309 274.694 471.744 274.694 471.502 C 274.694 469.925 274.996 466.166 276.168 464.994 C 276.58 464.582 278.697 463.002 279.238 464.625 C 279.551 465.564 280.288 466.759 280.712 467.818 C 281.057 468.68 281.326 470.053 281.326 471.011 C 281.326 472.588 281.449 474.168 281.449 475.8" />
        <path d="M 286.606 463.52 C 286.315 466.139 286.975 468.752 286.975 471.379 C 286.975 471.772 287.225 473.708 286.975 473.958 C 286.837 474.096 286.606 471.501 286.606 471.134 C 286.606 469.396 286.592 466.482 287.834 465.239 C 288.571 464.503 291.036 464.765 291.641 465.976 C 292.942 468.577 292.992 471.306 292.992 474.572" />
        <path d="M 299.746 465.362 C 297.736 466.798 296.508 472.646 299.132 473.958 C 299.935 474.359 301.133 475.543 302.202 475.186 C 305.14 474.207 306.814 465.794 303.307 464.625 C 301.966 464.178 298.027 464.898 298.027 466.222" />
        <path d="M 308.22 464.257 C 308.867 466.847 308.65 469.968 309.448 472.362 C 309.519 472.577 309.448 474.327 309.448 474.327 C 309.448 474.327 309.325 472.472 309.325 472.362 C 309.325 470.457 309.502 468.419 310.184 466.713 C 310.794 465.188 312.738 464.109 314.114 465.485 C 314.711 466.081 314.329 467.265 314.728 468.064 C 315.524 469.656 315.711 472.077 315.711 473.958" />
    </g>
    <g>
        <title>Panel</title>
        <path d="M 198.815 492.04 C 198.815 497.006 199.93 502.837 199.93 507.971 C 199.93 509.348 199.93 510.985 199.93 512.113 C 199.93 512.366 199.768 513.544 199.93 513.706 C 200.338 514.114 202.064 513.754 202.479 513.546 C 203.793 512.889 206.86 513.228 208.373 513.228 C 217.166 513.228 225.708 512.591 234.5 512.591 C 247.135 512.591 259.46 514.821 271.938 514.821 C 275.466 514.821 279.981 515.592 283.249 514.502 C 286.798 513.319 291.261 513.921 294.56 512.272 C 295.548 511.778 297.53 512.227 298.065 511.157 C 298.847 509.593 297.944 507.583 298.224 505.9 C 298.992 501.296 300.022 495.954 299.499 491.243 C 299.3 489.451 299.146 487.829 298.384 486.304 C 297.98 485.498 294.999 485.189 294.242 485.189 C 290.249 485.189 286.223 486.963 282.134 486.145 C 276.536 485.026 268.724 485.076 263.176 486.464 C 260.628 487.101 257.745 486.575 255.211 487.419 C 254.407 487.687 252.412 487.495 251.706 487.26 C 249.419 486.498 245.703 486.782 243.262 486.782 C 235.497 486.782 227.998 487.757 220.322 488.853 C 217.59 489.244 214.782 489.419 212.038 489.968 C 209.985 490.379 207.508 489.684 205.665 490.606 C 203.734 491.571 200.199 490.128 198.337 490.128 C 198.018 490.128 198.337 490.765 198.337 491.084 C 198.337 491.721 198.337 492.358 198.337 492.995" />
        <path d="M 206.143 496.659 C 206.405 497.967 207.425 502.221 206.78 503.51 C 206.25 504.57 206.036 506.589 206.78 507.333 C 207.345 507.898 208.064 507.774 208.851 507.971 C 209.533 508.141 211.588 508.739 212.197 508.13 C 212.476 507.851 212.121 506.309 212.038 506.059 C 211.732 505.141 211.765 502.257 212.038 501.439 C 212.342 500.524 213.228 496.97 212.675 495.863 C 211.984 494.482 206.848 495.636 206.143 496.341 C 205.913 496.571 205.028 496.729 205.028 496.978" />
        <path d="M 218.41 495.544 C 218.596 497.217 219.397 499.372 219.047 501.12 C 218.847 502.122 218.08 505.081 218.569 506.059 C 219.104 507.128 222.473 506.855 223.508 506.855 C 223.756 506.855 224.873 507.083 224.942 507.015 C 225.421 506.535 224.942 502.794 224.942 502.235 C 224.942 501.218 225.101 500.201 225.101 499.208 C 225.101 498.177 225.752 496.701 225.42 495.704 C 224.706 493.563 219.418 495.863 218.251 495.863" />
        <path d="M 232.111 494.748 C 232.111 497.707 232.496 501.331 231.792 504.147 C 231.698 504.522 230.765 506.306 231.155 506.696 C 231.763 507.304 233.778 506.696 234.5 506.696 C 235.154 506.696 239.077 507.377 239.28 507.174 C 240.761 505.693 240.072 501.461 240.395 499.527 C 240.507 498.855 241.851 494.452 241.351 493.951 C 240.392 492.993 234.78 492.377 233.226 493.155 C 232.472 493.531 231.751 494.907 231.155 494.907" />
        <path d="M 246.767 494.429 C 245.847 496.27 246.449 498.977 246.449 501.12 C 246.449 503.121 246.13 505.022 246.13 507.015 C 246.13 507.335 245.687 508.483 245.971 508.767 C 246.318 509.114 249.261 508.926 249.794 508.926 C 250.456 508.926 253.415 509.766 253.777 509.404 C 254.225 508.956 253.834 507.466 253.936 506.855 C 254.31 504.611 254.892 502.143 254.892 499.846 C 254.892 499.165 255.872 495.078 254.892 494.588 C 253.638 493.961 252.069 492.865 250.272 493.314 C 249.182 493.587 248.172 494.27 247.404 494.27" />
        <path d="M 259.671 493.792 C 259.308 496.881 259.512 500.055 259.512 503.191 C 259.512 503.809 259.295 505.842 259.671 506.218 C 261.508 508.055 262.041 506.855 264.769 506.855 C 265.537 506.855 267.137 507.878 267.478 506.855 C 268.343 504.258 267.159 499.363 267.159 496.659 C 267.159 495.85 267.892 494.047 267.318 493.473 C 265.756 491.911 261.486 492.615 260.309 493.792" />
        <path d="M 272.575 493.314 C 271.857 496.189 272.416 499.23 272.416 502.076 C 272.416 503.187 272.096 505.099 272.575 506.059 C 272.774 506.456 272.254 508.447 272.575 508.608 C 273.344 508.992 274.99 508.616 275.921 508.926 C 276.764 509.207 277.726 509.086 278.629 509.086 C 279.016 509.086 279.471 509.678 279.744 509.404 C 279.765 509.384 279.437 508.027 279.426 507.971 C 279.085 506.268 279.266 504.305 279.266 502.554 C 279.266 500.967 278.604 498.488 279.107 496.978 C 279.357 496.229 279.648 493.758 279.266 492.995 C 278.464 491.391 273.322 493.1 272.257 493.633" />
        <path d="M 288.666 495.385 C 286.306 495.647 284.913 496.199 283.886 498.253 C 282.049 501.927 286.406 505.325 289.94 504.147 C 292.504 503.292 293.384 502.003 294.082 499.208 C 294.284 498.402 294.391 496.336 293.445 495.863 C 292.356 495.319 290.678 494.563 289.303 494.907 C 288.614 495.079 287.598 495.863 287.073 495.863" />
    </g>
    <g>
        <title>Room</title>
        <path d="M 422.303 188.638 C 417.02 183.356 401.594 190.686 395.452 188.638 C 389.934 186.799 383.003 189.461 377.552 187.644 C 360.839 182.073 333.4 185.834 316.889 189.136 C 298.259 192.862 278.287 192.874 259.21 195.6 C 251.984 196.632 243.169 198.138 235.84 197.091 C 227.316 195.874 219.345 193.713 210.979 191.622 C 204.809 190.079 196.661 192.119 190.592 192.119 C 186.713 192.119 179.027 190.504 175.675 191.622 C 167.886 194.218 159.404 193.114 150.813 193.114 C 138.228 193.114 125.803 194.078 113.521 191.622 C 99.901 188.898 85.782 194.139 71.753 190.13 C 72.25 181.941 64.85 168.632 68.769 160.793 C 70.747 156.838 68.915 152.401 70.261 148.362 C 72.56 141.466 74.663 126.263 72.25 119.026 C 69.931 112.068 76.299 102.829 74.239 96.65 C 71.533 88.531 68.241 67.376 72.25 59.357 C 74.324 55.21 70.65 47.64 72.747 43.446 C 73.91 41.121 80.379 41.457 82.692 41.457 C 91.915 41.457 101.333 44.398 110.537 45.932 C 118.886 47.324 127.533 45.732 135.896 46.927 C 164.703 51.042 193.883 47.424 222.912 47.424 C 249.346 47.424 273.66 41.457 300.978 41.457 C 307.921 41.457 318.393 38.146 325.342 40.463 C 339.802 45.283 356.806 46.357 372.082 49.413 C 379.032 50.803 392.952 53.146 399.928 51.402 C 403.354 50.545 413.214 47.285 415.342 49.413 C 417.843 51.914 416.336 58.726 416.336 62.341 C 416.336 71.921 419.32 79.056 419.32 89.192 C 419.32 101.198 419.32 112.971 419.32 123.998 C 419.32 128.539 420.797 137.452 418.823 141.401 C 416.13 146.786 417.828 154.373 417.828 160.296 C 417.828 162.109 416.614 165.824 417.331 167.257 C 420.207 173.01 419.32 183.247 419.32 190.627 Z" />
        <path d="M 500.866 282.118 C 495.262 276.514 492.158 271.294 487.441 264.218 C 481.89 255.892 473.651 249.749 468.049 241.345 C 465.289 237.206 457.464 232.661 453.132 229.412 C 447.37 225.09 443.259 217.55 438.712 213.003 C 434.033 208.324 428.063 202.147 425.287 196.594 C 423.555 193.131 423.899 186.152 418.325 186.152" />
        <path d="M 69.267 190.13 C 69.267 199.513 51.578 207.713 46.394 215.489 C 30.489 239.347 12.56 261.753 -6.313 280.627" />
        <path d="M 414.347 49.91 C 415.565 41.388 422.726 47.498 427.275 42.949 C 428.488 41.736 434.498 41.204 436.723 40.463 C 444.364 37.916 451.603 32.516 459.596 30.518 C 464.661 29.251 470.529 24.058 475.01 21.07 C 480.564 17.368 487.35 14.403 492.91 11.623 C 495.49 10.333 498.826 4.662 501.363 4.662" />
        <path d="M 73.245 41.457 C 55.876 34.013 37.923 24.542 21.035 16.098 C 14.757 12.959 8.031 8.85 2.637 6.153 C 0.939 5.304 -2.657 1.181 -3.33 1.181" />
    </g>
    <a asp-page="SwitchRoom" asp-route-door="1">
        <g>
            <title>Door1</title>
            <path d="M 85.66 191.104 C 84.795 184.184 85.472 175.959 86.809 169.275 C 88.546 160.588 87.437 151.307 90.256 142.85 C 91.23 139.927 90.486 135.415 90.486 132.279 C 90.486 131.281 90.007 128.852 90.486 128.373 C 91.855 127.003 95.312 128.487 96.919 127.684 C 100.161 126.063 104.182 128.006 107.489 128.833 C 112.012 129.963 117.752 129.522 122.425 129.522 C 124.48 129.522 126.697 129.982 128.859 129.982 C 129.385 129.982 130.681 129.489 130.927 129.982 C 131.454 131.035 130.206 134.083 130.008 135.267 C 129.268 139.706 129.389 144.494 128.63 149.054 C 128.059 152.477 129.079 156.227 128.4 159.624 C 126.229 170.476 128.17 183.379 128.17 194.321" />
            <path d="M 118.97865755079603 160.7726123295883 C 112.26087499881784 158.2534648417934 115.11351705781749 170.6327022254858 121.04670715332031 167.66610717773438 C 124.13106995835663 166.1239257752162 122.92386095601196 159.15442035497236 119.20844268798828 160.08326721191406 C 118.58230033527184 160.2398015007515 115.99147033691406 160.130856765771 115.99147033691406 161.0023956298828" />
        </g>
    </a>
    <a asp-page="SwitchRoom" asp-route-door="2">
        <g>
            <title>Door2</title>
            <path d="M 142.417 193.402 C 144.595 178.156 144.255 162.286 144.255 146.756 C 144.255 142.27 143.795 137.934 143.795 133.658 C 143.795 132.356 142.875 130.673 143.795 129.752 C 144.657 128.891 147.587 129.982 148.85 129.982 C 154.062 129.982 159.274 129.401 164.476 130.441 C 168.194 131.185 172.366 130.64 175.965 131.36 C 177.49 131.665 179.428 130.909 180.79 131.59 C 181.761 132.075 183.785 131.249 184.926 131.82 C 185.722 132.218 184.926 134.911 184.926 135.496 C 184.926 139.343 184.441 143.331 184.926 147.215 C 186.753 161.829 184.926 176.966 184.926 191.564" />
            <path d="M 172.74797370819755 158.24499490338565 C 171.43456581496346 160.08377923316783 169.00210334232798 162.31187661613072 170.9097137451172 164.2193603515625 C 171.3386886551789 164.64830677723444 172.65067928070542 166.68072029886727 173.43731689453125 166.28741455078125 C 176.7239667650702 164.64414417658404 178.46676762044422 161.4361737483739 175.2755889892578 158.2449951171875 C 174.2518759081449 157.2212820360746 171.13949584960938 158.34929826909692 171.13949584960938 159.62368774414062" />
        </g>
    </a>
    <a asp-page="SwitchRoom" asp-route-door="3">
        <g>
            <title>Door3</title>
            <path d="M 198.943 131.36 C 205.065 134.421 213.86 134.328 218.475 138.943 C 219.903 140.372 223.265 139.827 224.449 141.011 C 225.178 141.74 223.401 144.889 223.99 146.066 C 225.588 149.263 225.368 155.563 225.368 159.394 C 225.368 162.515 227.243 167.593 225.828 170.424 C 225.43 171.22 226.226 172.614 225.828 173.411 C 224.907 175.252 225.828 178.633 225.828 181.223 C 225.828 181.742 226.716 184.242 226.517 184.44 C 224.472 186.486 220.244 184.617 217.326 185.589 C 214.016 186.693 210.714 186.721 207.215 187.887 C 206.049 188.276 202.39 187.624 202.39 189.725 C 200.206 174.664 200.552 158.965 200.552 143.309 C 200.552 139.833 199.403 136.106 199.403 132.509 C 199.403 131.434 198.413 130.052 199.173 129.292 C 199.791 128.674 205.877 129.522 206.986 129.522 C 212.398 129.522 217.558 129.916 222.841 130.671 C 226.347 131.172 230.33 130.303 233.641 131.131 C 235.99 131.718 241.585 129.556 242.832 132.05 C 244.95 136.286 243.075 144.324 243.751 149.054 C 245.91 164.168 243.751 180.721 243.751 195.47" />
            <path d="M 215.02811974649615 159.623695317678 C 213.66991442501484 161.43462609780968 211.7400394605191 169.99949473507246 216.4068145751953 167.66610717773438 C 217.40799037436477 167.16551927814965 218.42552709436984 165.64744371148458 218.93443298339844 165.1385040283203 C 222.7410529910363 161.33163124028482 215.98703539520972 157.51586377471216 212.73028564453125 160.77261352539062" />
        </g>
    </a>
    <a asp-page="SwitchRoom" asp-route-door="4">
        <g>
            <title>Door4</title>
            <path d="M 263.742 194.321 C 263.742 187.607 262.386 180.921 261.444 174.33 C 260.125 165.097 262.117 155.407 260.295 146.296 C 259.656 143.098 260.768 135.739 258.457 133.428 C 258.3 133.271 257.895 130.314 257.998 130.211 C 259.622 128.587 262.965 129.475 265.58 128.603 C 269.438 127.317 276.497 127.033 280.516 128.373 C 284.739 129.781 289.341 127.73 293.384 129.752 C 294.684 130.402 301.863 128.993 302.346 130.441 C 302.712 131.541 302.06 132.844 301.886 133.888 C 301.448 136.518 301.806 139.278 301.427 141.93 C 299.94 152.333 300.563 164.442 303.035 174.33 C 303.887 177.736 302.493 184.817 304.873 187.198" />
            <path d="M 292.2353429468676 158.4747783057677 C 290.63357791505234 158.01713194957324 284.9651276230395 160.6258581946051 287.4098815917969 163.07044982910156 C 288.2476974010466 163.90821000649143 289.276418636329 164.80796334648483 290.85662841796875 165.5980682373047 C 291.60391250722665 165.97171028193364 292.38529008742574 165.4082002932012 292.9246826171875 165.1385040283203 C 295.0108289999948 164.09543083691665 295.0122482361733 162.42023576629137 294.0736083984375 160.54283142089844 C 293.7971911154898 159.98996014132481 291.5459899902344 157.42569843234304 291.5459899902344 158.93434143066406" />
        </g>
    </a>
    <a asp-page="SwitchRoom" asp-route-door="5">
        <g>
            <title>Door5</title>
            <path d="M 320.958 129.522 C 324.723 130.463 330.991 131.513 333.596 134.118 C 334.568 135.089 338.088 133.784 339.111 134.807 C 340.188 135.884 343.701 135.255 344.396 136.645 C 345.456 138.765 344.233 142.887 344.856 145.377 C 346.337 151.301 345.545 157.475 345.545 163.53 C 345.545 165.575 346.202 169.34 345.315 171.113 C 344.371 173.001 346.312 176.242 345.545 177.777 C 344.609 179.648 340.875 178.848 339.341 179.615 C 335.059 181.756 330.448 183.142 326.473 185.13 C 324.672 186.03 324.754 186.738 322.797 186.738 C 322.797 182.445 322.708 176.746 322.107 171.343 C 320.991 161.296 322.674 151.061 321.418 141.011 C 321.048 138.051 319.664 134.154 320.269 131.131 C 320.332 130.815 321.188 127.454 321.188 127.454 C 321.188 127.454 327.493 128.255 328.082 128.373 C 333.986 129.554 340.962 128.603 346.924 128.603 C 347.792 128.603 352.663 128.592 353.128 129.522 C 355.01 133.286 353.351 140.754 354.507 145.377 C 357.247 156.338 355.885 168.584 355.885 179.615" />
            <path d="M 334.28570558278415 154.1088936605086 C 330.3164740807698 158.07811820438644 334.9391255271855 162.61981732016355 339.5707092285156 161.4619598388672 C 344.5486616943141 160.21751304145593 340.4962494758052 155.0280303955078 337.0431213378906 155.0280303955078 C 335.7076905852936 155.0280303955078 334.6065152540354 155.94715881347656 333.3665771484375 155.94715881347656" />
        </g>
    </a>
    <a asp-page="SwitchRoom" asp-route-door="6">
        <g>
            <title>Door6</title>
            <path d="M 375.187 128.373 C 379.6 129.634 382.852 132.205 386.676 134.118 C 389.396 135.478 392.52 135.179 394.719 136.645 C 395.162 136.941 396.54 136.858 396.787 137.105 C 397.984 138.302 397.017 142.188 397.017 143.769 C 397.017 147.038 397.203 151.108 396.557 154.339 C 396.263 155.81 396.985 157.62 396.327 158.934 C 395.658 160.272 396.546 162.403 395.868 163.76 C 393.995 167.504 396.594 173.565 394.719 177.317 C 394.28 178.195 395.216 180.037 394.489 180.764 C 393.642 181.611 391.434 181.355 390.123 181.683 C 387.063 182.448 382.814 184.211 380.013 184.211 C 378.376 184.211 374.038 183.935 374.038 185.589 C 376.505 176.059 372.46 163.35 374.268 152.5 C 375.311 146.242 374.728 139.751 374.728 133.428 C 374.728 132.294 374.083 127.639 374.957 126.765 C 376.348 125.374 381.573 126.075 383.459 126.075 C 386.639 126.075 389.535 126.815 392.191 128.143 C 393.823 128.959 396.538 127.444 398.395 128.373 C 400.825 129.588 405.234 126.622 408.276 128.143 C 408.868 128.439 408.276 130.673 408.276 131.36 C 408.276 134.607 407.302 138.299 406.667 141.471 C 405.205 148.782 404.775 156.093 403.68 163.76 C 403.164 167.372 404.089 171.316 403.221 174.789 C 402.555 177.453 402.761 180.482 402.761 183.291 C 402.761 183.789 402.653 185.941 402.761 186.049" />
            <path d="M 385.98697111874714 153.41954345336245 C 384.624770525445 154.32768779397585 382.1401942446208 157.44469171423057 383.2295837402344 159.62368774414062 C 383.7355230281266 160.63566711802994 386.59631726989386 162.00147100029258 387.595458984375 161.0023956298828 C 389.87057746426075 158.72742822028124 389.16679850116316 149.55060624438366 385.297607421875 153.41954040527344" />
        </g>
    </a>
    <g>
        <title>DoorLabels</title>
        <path d="M 98.691 104.014 C 101.768 100.322 107.556 97.183 109.589 93.116 C 109.761 92.772 112.441 89.807 112.906 90.273 C 114.476 91.843 113.51 99.36 112.906 101.171 C 110.719 107.732 109.589 117.738 109.589 123.914" />
        <path d="M 152.707 92.642 C 155.343 90.446 159.54 85.16 164.079 87.43 C 166.825 88.803 172.498 97.126 170.713 100.697 C 168.201 105.721 162.639 111.766 157.919 114.912 C 156.545 115.828 150.812 120.327 150.812 121.072 C 150.812 122.805 155.236 122.493 156.498 122.493 C 162.468 122.493 169.866 123.441 174.503 123.441" />
        <path d="M 211.462 90.747 C 215.847 89.494 226.624 87.035 226.624 94.063 C 226.624 97.592 221.398 100.237 219.043 102.592 C 218.669 102.966 214.558 105.214 214.778 105.435 C 217.363 108.02 223.879 105.632 226.15 110.174 C 230.256 118.386 214.129 121.545 208.619 121.545" />
        <path d="M 269.742 88.378 C 269.742 93.232 269.822 99.984 268.321 104.488 C 268.05 105.301 266.574 108.901 267.373 109.7 C 271.201 113.528 283.393 113.016 289.169 113.016" />
        <path d="M 278.745 101.171 C 278.138 107.24 276.849 113.233 276.849 119.176 C 276.849 120.107 276.45 124.388 275.902 124.388" />
        <path d="M 327.075 115.859 C 332.069 120.854 338.39 118.4 340.342 112.543 C 340.784 111.218 342.46 107.302 341.763 105.909 C 338.11 98.601 325.448 106.156 328.496 95.485 C 329.033 93.606 329.444 91.694 329.918 89.799 C 328.496 89.707 331.853 89.325 332.761 89.325 C 336.748 89.325 340.289 87.43 344.133 87.43" />
        <path d="M 396.253 92.642 C 388.04 99.486 376.2 112.229 389.146 118.702 C 391.419 119.839 393.58 116.959 394.832 116.333 C 403.371 112.064 391.826 106.694 390.094 104.961 C 388.78 103.648 383.934 106.664 383.934 106.857" />
    </g>
</svg>