@page
@{
    ViewData["Title"] = "Not found";
}

<svg viewBox="113.371 104.996 345.003 286.36" xmlns="http://www.w3.org/2000/svg">
    <circle style="fill: none; stroke: rgb(66, 66, 66); stroke-width: 14px;" cx="250" cy="254.171" r="127.174" />
    <line style="stroke-width: 14px; stroke: rgb(66, 66, 66); stroke-linecap: round;" x1="178.253" y1="294.772" x2="302.837" y2="338.71" />
    <circle style="stroke: rgb(66, 66, 66); fill: none; stroke-width: 14px;" cx="302.062" cy="213.849" r="33.749" />
    <path style="fill: rgb(66, 66, 66); stroke:none;" d="M 422.344 220.456 L 401.024 220.456 C 401.024 215.189 401.204 210.859 401.564 207.466 C 401.931 204.079 402.634 201.159 403.674 198.706 C 404.721 196.253 406.327 193.799 408.494 191.346 C 410.661 188.893 413.581 186.006 417.254 182.686 C 422.381 178.073 426.367 173.783 429.214 169.816 C 432.061 165.849 434.081 161.989 435.274 158.236 C 436.461 154.483 437.054 150.659 437.054 146.766 C 437.054 139.119 435.017 133.239 430.944 129.126 C 426.871 125.019 421.047 122.966 413.474 122.966 C 406.907 122.966 401.334 124.749 396.754 128.316 C 392.174 131.889 389.884 137.139 389.884 144.066 L 369.544 144.066 L 369.214 143.416 C 369.067 135.696 370.891 128.949 374.684 123.176 C 378.471 117.409 383.717 112.936 390.424 109.756 C 397.131 106.583 404.814 104.996 413.474 104.996 C 427.681 104.996 438.717 108.623 446.584 115.876 C 454.444 123.123 458.374 133.239 458.374 146.226 C 458.374 152.426 457.347 158.069 455.294 163.156 C 453.234 168.243 450.151 173.329 446.044 178.416 C 441.931 183.503 436.771 189.183 430.564 195.456 C 428.044 198.056 426.204 200.419 425.044 202.546 C 423.891 204.673 423.154 207.089 422.834 209.796 C 422.507 212.503 422.344 216.056 422.344 220.456 Z M 422.994 264.816 L 400.814 264.816 L 400.814 242.306 L 422.994 242.306 L 422.994 264.816 Z" transform="matrix(1, 0, 0, 1, 0, 0)" />
    <circle style="stroke: rgb(66, 66, 66); fill: none; stroke-width: 14px;" cx="197.938" cy="213.849" r="33.749" />
</svg>

<p class="text-justify mt-5">
    The requested URL was not found on this server.
</p>