@page
@{
    ViewData["Title"] = "Internal server error";
}

<svg viewBox="38.841 36.616 438.448 439.004" xmlns="http://www.w3.org/2000/svg">
    <circle style="fill: none; stroke: rgb(66, 66, 66); stroke-width: 25px;" cx="258.621" cy="256.396" r="204.207" />
    <circle style="fill: none; stroke: rgb(66, 66, 66); stroke-width: 25px;" cx="164.905" cy="173.526" r="41.364" />
    <circle style="fill: none; stroke: rgb(66, 66, 66); stroke-width: 25px;" cx="218.021" cy="335.929" r="81.687" />
    <circle style="fill: none; stroke: rgb(66, 66, 66); stroke-width: 25px;" cx="291.991" cy="173.526" r="41.364" />
</svg>

<p class="text-justify">
    Oh no!
    Something went wrong on the server.
    It is not your fault.
</p>