@page
@{
    ViewData["Title"] = "Material 4";
}

<div class="btn-group-vertical d-block">
    <a asp-page="Index" asp-route-hasMagnifier="true" class="btn btn-light">Go back to the west wing</a>
</div>
<hr />
<p class="text-justify">
    This is what the surface of the object looks like through this powerful magnifier.
    Interesting.
</p>
<svg class="img-fluid" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg">
    <path d="M 20.435968205224484 121.2534113509986 C 24.544178488309477 116.55831685054781 27.741706741625404 111.52519048654247 31.675750732421875 106.60763549804688 C 35.70442587528227 101.57179156947137 41.53133215831152 95.77390867661708 43.59673309326172 89.5776596069336" />
    <path d="M 118.18801612021495 32.69754912835917 C 123.29402697985407 28.158870796846333 130.37472078297594 21.948009953756518 133.51499938964844 15.66757583618164" />
    <path d="M 41.21253588053605 294.9591410954067 C 47.30252169525128 289.8841355027412 51.3105796999182 279.8720580684253 54.83651351928711 272.8201904296875" />
    <path d="M 118.8692150603891 202.3160852317224 C 126.77010591578556 193.09838198578274 132.7716086683395 182.62337433117193 141.34878540039062 174.04632568359375" />
    <path d="M 243.52862111225846 72.888286598634 C 253.87340099827256 56.796351591897405 264.31236109473633 40.52429286673778 277.9291687011719 26.907358169555664" />
    <path d="M 103.54223890647073 452.99729521580946 C 111.20609454665102 445.33344717569514 115.36890312861573 436.6922198551524 120.91281127929688 427.45233154296875" />
    <path d="M 188.35150695815236 333.1062817451591 C 193.44320423194566 325.8324223182669 199.38340358671755 319.21689643984615 203.337890625 311.30792236328125" />
    <path d="M 291.8937458646231 191.7575016590231 C 297.15569915194897 183.5722282785328 304.4541104498435 177.05398603051117 310.2861022949219 169.27793884277344" />
    <path d="M 381.47140649752373 75.95368182941768 C 388.69778887734975 67.6155486521327 395.48080493676684 58.53831324679235 403.269775390625 50.74932098388672" />
    <path d="M 260.89919408669925 472.75206448085976 C 264.51119482222435 463.7220487841768 269.25350337126036 455.10226006641517 272.8201904296875 446.185302734375" />
    <path d="M 345.02726319820675 320.16350188185027 C 351.60628082626613 313.0362731045847 356.69572536140777 305.23728119990375 362.7384338378906 297.6839294433594" />
    <path d="M 434.6049238311074 184.6049127871945 C 443.80521385072797 172.77590217512486 450.4482421569361 159.12155885490196 460.1498718261719 147.4795684814453" />
    <path d="M 376.02181497613054 461.8528814380734 C 379.2473399289366 455.401835034705 382.5969789665471 448.25840073176323 384.8774108886719 441.4169006347656" />
    <path d="M 425.0681386686693 357.9700430615155 C 427.56097606618397 352.98437110981956 430.33651208524145 347.8536725176947 433.5831298828125 342.9836730957031" />
    <path d="M 146.7983716075292 89.91826010298773 C 158.7571959273716 94.56891636090008 168.76869919803707 105.58812397881103 176.43052673339844 115.80381774902344" />
    <path d="M 43.25613270105849 166.55314087257955 C 43.256134033203125 175.02079841822766 51.01213647124164 179.4181140658275 56.539512634277344 184.9455108642578" />
    <path d="M 124.31880658178228 283.0381596423591 C 127.33760386634687 289.6795351306755 131.46151339445197 295.5103474192627 135.21798706054688 301.7711181640625" />
    <path d="M 32.3569496582721 382.4932049077849 C 29.823760479081123 390.93719365376325 35.692392854841394 398.77147332755527 41.55313491821289 404.6321716308594" />
    <path d="M 166.8937403426666 386.23979907874275 C 172.79287220173242 391.11299462748326 178.12879481832894 395.77425409594923 184.9455108642578 399.1825866699219" />
    <path d="M 285.76295540305574 329.35968757420125 C 288.402638578124 332.43930340583694 291.14333605361696 335.42125963760134 293.9373474121094 338.21527099609375" />
    <path d="M 215.9400640352054 211.8528703941605 C 220.2496820592957 217.23989798427587 225.50276649105018 220.57724060733818 230.9264373779297 224.795654296875" />
    <path d="M 297.3433373860163 87.19346434229114 C 300.0358184383564 92.57833693470491 304.21589890630656 97.16183612859979 307.5613098144531 102.17984008789062" />
    <path d="M 375.6812155060435 207.7656767531156 C 376.97190241123536 212.28309684519007 378.8399817186822 216.08017617371686 381.4714050292969 220.02725219726562" />
    <path d="M 451.6348973354611 283.3787591124462 C 453.47038428765904 285.2142502544559 456.0002138122543 287.3723175341217 457.4250793457031 289.5095520019531" />
    <path d="M 457.4250883269414 54.49591521393195 C 461.4620420602844 60.147645982733614 464.50299277147343 68.04532232294726 469.3460693359375 72.88829040527344" />
    <path d="M 432.56132701058493 5.108992051306117 C 433.1030858128674 6.869666998192876 433.48875626770695 9.44240118105653 434.9455261230469 10.89918327331543 C 436.13554821773874 12.089215364235569 440.3951110839844 14.452466101476006 440.3951110839844 16.348773956298828" />
    <path d="M 282.69756017227206 260.2179951465251 C 285.6121410647547 264.45737062286173 288.30233177384645 268.54767829223954 291.89373779296875 272.13897705078125" />
    <path d="M 27.588557077053053 475.81745971164344 C 31.921719078965953 478.7062455138298 36.57433779759197 481.12672162903175 40.8719367980957 483.9918518066406" />
</svg>