@page
@model AdventCalendarWebApp.Pages.IndexModel
<h1 class="display-4 text-center">Advent Calendar 2021</h1>
<div class="row">
    <p>The Wikipedia Advent calendar, pick the current day!</p>
    @for (int i = 0; i < Model.Days.Length; i++)
    {
        var day = Model.Days[i];
        <div class="col-3 d-grid gap-2 mt-2">
            @if (day % 2 == 0)
            {
                <a asp-page="2021/WikiPagePicker" asp-route-day="@day" class="btn btn-outline-secondary">Door @day</a>
            }
            else
            {
                <a asp-page="2021/WikiArticleGuesser" asp-route-day="@day" class="btn btn-outline-secondary">Door @day</a>
            }
        </div>
   }
    <p class="mt-5">You can also take a look at last years <a asp-page="/2020/Index">Advent calendar</a>.</p>
</div>