@page
@model AdventCalendarWebApp.Pages.Misc.Statistics.IndexModel
@{
    ViewData["Title"] = "Statistics";
}
<p>
    This is the hub for all page statistics.
</p>
<div class="list-group">
    <a asp-page="NumberOfRequests" class="list-group-item list-group-item-action">Requests per url</a>
    <a asp-page="RequestsOverTime" class="list-group-item list-group-item-action">Requests over time</a>
    <a asp-page="RequestsPerUser" class="list-group-item list-group-item-action">Requests per User</a>
    <a asp-page="2021/Overview" class="list-group-item list-group-item-action">2021 Overview</a>
    <a asp-page="2021/WikiArticleGuesses" class="list-group-item list-group-item-action">2021 Wiki article guesses</a>
    <a asp-page="2021/WikiPagePicks" class="list-group-item list-group-item-action">2021 Wiki page picks</a>
</div>