@page
@model AdventCalendarWebApp.Pages.Misc.Statistics.NumberOfRequestsModel
@{
    ViewData["Title"] = "Http Request Statistics";
}
<p>
    See the total number of requests for each base url.
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Url</th>
            <th>Number of requests</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urlRequest in Model.UrlRequests)
        {
            <tr>
                <td>@urlRequest.BaseUrl</td>
                <td>@urlRequest.NumberOfRequests</td>
            </tr>

        }
    </tbody>
</table>