@page
@model AdventCalendarWebApp.Pages.Misc.Statistics.RequestsOfUserModel
@{
    ViewData["Title"] = "Requests of user over time";
}
<p>
    See the number of requests from the user '@Model.UserId' over time.
</p>
<div>
    <canvas id="requests"></canvas>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var customOptions = {
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    grid: {
                        display: false
                    }
                },
                y: {
                    grid: {
                        display: false
                    }
                }
            }
        };
        const labels = ['@Html.Raw(string.Join("','", Model.Requests.Select(x => x.Day.ToString("yyyy-MM-dd"))))'];
        const data = {
            labels: labels,
            datasets: [{
                backgroundColor: 'rgb(251, 192, 45)',
                borderColor: 'rgb(251, 192, 45)',
                data: [@Html.Raw(string.Join(",",Model.Requests.Select(x => x.NumberOfRequests)))],
            }]
        };
        const config = {
            type: 'line',
            data: data,
            options: customOptions
        };
        var requests = new Chart(
            document.getElementById('requests'),
            config
        );
    </script>
} 