@page
@model AdventCalendarWebApp.Pages.Misc.Statistics.RequestsPerUserModel
@{
    ViewData["Title"] = "Http Request Statistics";
}
<a asp-page="Index" class="btn btn-outline-secondary mb-3">Back</a>
<p>
    See the total number of requests per user.
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>User</th>
            <th>Number of requests</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urlRequest in Model.UrlRequests)
        {
            <tr>
                <td><a asp-page="RequestsOfUser" asp-route-userId="@urlRequest.UserId">@urlRequest.UserId</a></td>
                <td>@urlRequest.NumberOfRequests</td>
            </tr>

        }
    </tbody>
</table>