@page
@model AdventCalendarWebApp.Pages._2020.Hideout.MazeModel
@{
    ViewData["Title"] = "Maze";
}
<div class="btn-group-vertical d-block">
    <a asp-page="../Map" class="btn btn-light">Leave the hideout</a>
    <a asp-page="Index" class="btn btn-light">Exit the maze</a>
    @if (Model.Path.Length > 0)
    {
        <a href="@Url.Page("Maze", new {path = Model.Path, back=true})" class="btn btn-light">Go back one door</a>
    }
    <a asp-page="Maze" class="btn btn-light">Restart the maze</a>
</div>
<hr />
@if (Model.Solved == true)
{
    <div class="alert alert-success">Astonishing, you found the way through the maze and secured the rein. Not even the saboteur could fool you.</div>
}
else if (Model.Solved == false)
{
    <div class="alert alert-danger">This is a dead end. There must be another way.</div>
}
@if (Model.Path.Length > 0)
{
    <h3>Your current path through the maze</h3>
    <ul class="list-group">
        @foreach (var turn in Model.Path)
        {
            <li class="list-group-item">
                @{
                    switch (turn)
                    {
                        case -1:
                            <text>Left</text>
                            break;
                        case 0:
                            <text>Straight on</text>
                            break;
                        default:
                            <text>Right</text>
                            break;
                    }
                }
            </li>
        }
    </ul>
}
@if (!Model.Solved.HasValue)
{
<svg class="img-fluid" viewBox="-2.423 0 511.785 422.827" xmlns="http://www.w3.org/2000/svg">
    <path d="M 0.693481260870513 308.5991610873772 C 22.96600248865833 302.23557271284267 48.274627038355234 309.06621783432706 71.42857360839844 306.1719665527344 C 76.01505226685755 305.59865514359353 80.76395751553302 306.7320733040223 85.2981948852539 305.8252258300781 C 92.863144781264 304.3122358508761 101.30837016435618 306.9921223538475 108.87655639648438 305.4784851074219 C 117.928127429154 303.66817090088796 128.03334787847848 304.58804947376046 137.30929565429688 303.7447814941406 C 159.63895267046712 301.71481267448877 184.8157833839261 296.364591718072 207.35089111328125 299.5838928222656 C 223.36586790248163 301.87174664929427 240.03092109950316 302.49782673196296 256.2413330078125 303.7447814941406 C 272.52111030624803 304.99707205555876 289.3003361405212 302.41599431859055 305.4784851074219 304.4382629394531 C 320.7341493063818 306.3452209643231 336.9270844994163 306.8654479980469 352.2884826660156 306.8654479980469 C 366.41589187077886 306.8654479980469 380.62545448297806 306.2573542676576 394.5908508300781 308.2524108886719 C 399.6520469256992 308.97543890233203 405.2936844619994 307.7207752414764 410.19415283203125 308.9458923339844 C 414.6541903626685 310.0609017166437 419.95048493030026 307.83088295132507 424.4105224609375 308.9458923339844 C 429.5348766898956 310.2269808912239 437.05294024884665 309.5127506555618 442.09429931640625 308.2524108886719 C 446.9476494800411 307.0390733477632 453.6654274217069 308.2524108886719 458.73785400390625 308.2524108886719 C 462.70193600895493 308.2524108886719 471.1547031853182 306.13905813562786 474.68792724609375 307.9056701660156 C 477.23321157301245 309.178312329475 481.22001590875186 307.35756654812593 483.70318603515625 308.5991516113281 C 488.21422769777627 310.85467244263816 495.82610515683103 311.7198181152344 501.386962890625 311.7198181152344" />
    <a href="@Url.Page("Maze", new {path = Model.Path, direction = -1})">
        <g>
            <title>LeftDoor</title>
            <path d="M 18.377 307.559 C 15.1 274.791 15.257 239.919 15.257 206.657 C 15.257 195.291 16.178 183.29 14.563 171.983 C 13.729 166.145 15.64 159.646 14.216 153.953 C 10.854 140.503 13.404 125.726 11.442 111.997 C 11.06 109.32 8.861 101.903 10.055 99.515 C 11.588 96.45 21.145 96.858 24.619 95.7 C 28.339 94.46 32.759 95.113 36.755 94.313 C 48.213 92.022 62.131 92.038 73.509 94.313 C 78.034 95.218 83.793 94.313 88.419 94.313 C 97.332 94.313 106.433 94.66 115.465 94.66 C 118.92 94.66 128.344 93.323 130.721 95.7 C 133.869 98.848 131.619 106.918 132.802 111.65 C 136.013 124.496 133.237 141.2 131.415 153.953 C 129.342 168.461 130.727 183.382 128.641 197.989 C 127.095 208.807 129.193 221.094 126.56 231.623 C 125.329 236.547 128.159 242.776 126.56 247.573 C 124.882 252.606 127.496 258.74 126.214 263.87 C 124.75 269.725 125.867 276.583 125.867 282.594 C 125.867 290.532 124.827 297.222 124.827 304.438" />
            <path d="M 105.409 200.763 C 101.548 200.763 94.847 204.417 99.168 208.738 C 100.428 209.998 101.736 210.613 102.982 211.859 C 103.386 212.263 105.005 211.454 105.409 211.859 C 105.449 211.898 108.017 212.718 108.183 212.552 C 109.947 210.788 111.604 209.131 113.384 207.351 C 117.229 203.506 108.115 200.069 105.062 200.069 C 104.251 200.069 103.346 202.497 102.982 202.497" />
        </g>
    </a>
    <a href="@Url.Page("Maze", new {path = Model.Path, direction = 0})">
        <g>
            <title>MiddleDoor</title>
            <path d="M 193.828 298.197 C 191.794 279.895 194.386 261.354 196.949 243.412 C 198.647 231.525 197.375 219.091 199.723 207.351 C 202.913 191.398 199.986 174.134 203.19 158.114 C 204.282 152.653 202.531 146.534 203.883 141.123 C 204.733 137.724 203.114 133.798 203.883 130.721 C 206.149 121.658 203.719 111.614 205.964 102.635 C 206.864 99.035 204.489 89.2 207.004 86.685 C 209.591 84.098 215.29 86.35 218.447 85.298 C 228.878 81.821 242.485 88.044 253.467 85.298 C 257.826 84.209 263.406 85.684 267.684 84.258 C 272.262 82.732 283.421 82.338 288.141 83.911 C 290.15 84.581 295.494 84.049 297.157 83.218 C 300.498 81.547 305.938 84.488 308.252 85.645 C 311.478 87.258 316.423 85.147 319.001 87.725 C 320.983 89.707 319.001 98.835 319.001 101.248 C 319.001 107.861 318.959 118.366 316.921 124.48 C 314.915 130.498 317.568 138.143 315.534 144.244 C 314.088 148.581 315.255 153.681 314.147 158.114 C 311.711 167.859 312.426 178.521 309.986 188.28 C 309.014 192.17 310.271 196.848 309.293 200.763 C 306.072 213.647 308.697 227.764 305.478 240.638 C 303.488 248.599 304.303 256.919 302.705 264.91 C 302.039 268.24 303.425 272.456 302.358 275.659 C 301.407 278.511 302.623 282.41 301.318 285.021 C 300.952 285.752 301.873 287.932 301.318 288.488 C 299.98 289.825 299.584 298.115 299.584 300.277" />
            <path d="M 290.569 185.506 C 287.568 187.173 281.937 190.472 283.287 194.521 C 283.818 196.114 287.378 204.301 290.569 201.11 C 295.652 196.026 295.03 188.581 291.262 184.813 C 290.329 183.88 287.679 187.24 287.448 187.24" />
        </g>
    </a>
    <a href="@Url.Page("Maze", new {path = Model.Path, direction = 1})">
        <g>
            <title>RightDoor</title>
            <path d="M 364.424 306.172 C 366.366 299.378 367.614 287.031 365.811 279.82 C 364.547 274.763 366.385 268.939 365.118 263.87 C 363.838 258.75 365.299 252.823 364.424 247.573 C 362.952 238.74 366.592 228.504 364.424 219.834 C 362.861 213.58 363.239 202.382 364.771 196.255 C 367.044 187.165 363.628 176.661 365.465 167.476 C 367.91 155.249 366.962 142.067 369.972 130.028 C 372.802 118.709 370.302 106.516 373.093 95.354 C 373.849 92.329 371.711 87.369 373.093 84.605 C 373.839 83.112 378.746 83.564 380.374 83.564 C 387.304 83.564 394.146 83.911 401.179 83.911 C 426.79 83.911 452.961 84.951 478.849 84.951 C 484.935 84.951 490.934 84.258 496.533 84.258 C 498.141 84.258 501.657 83.064 502.427 84.605 C 502.966 85.682 502.056 87.453 501.734 88.419 C 500.336 92.611 501.478 97.162 500 101.595 C 498.319 106.637 500.95 113.4 499.653 118.585 C 497.214 128.342 498.626 138.992 496.186 148.752 C 493.686 158.751 497.366 170.869 494.105 180.652 C 493.215 183.323 494.652 186.986 493.759 189.667 C 492.276 194.116 493.64 199.277 492.718 203.883 C 490.581 214.571 493.504 226.218 491.678 237.171 C 489.957 247.496 490.638 258.666 490.638 269.071 C 490.638 270.926 491.841 279.31 490.638 280.513 C 489.537 281.614 491.083 285.963 489.945 287.101 C 488.902 288.144 490.016 291.466 489.251 292.996 C 487.523 296.452 487.171 302.749 487.171 306.519" />
            <path d="M 472.261 188.28 C 466.174 189.295 462.083 197.214 468.447 201.456 C 469.856 202.396 472.499 207.405 474.688 206.311 C 479.634 203.838 482.931 195.83 478.502 191.401 C 477.477 190.376 475.848 190.134 474.688 188.974 C 473.887 188.173 468.793 189.498 468.793 190.014" />
        </g>
    </a>
    <g>
        <title>Labels</title>
        <path d="M 83.911 64.84 C 77.114 60.956 69.014 61.72 60.68 61.72 C 59.405 61.72 54.076 60.348 53.398 61.026 C 52.705 61.72 53.745 64.147 53.051 64.84 C 51.381 66.511 52.111 72.616 50.971 74.896 C 50.772 75.294 49.78 79.599 48.544 78.363 C 45.31 75.13 42.816 69.946 39.875 65.534 C 38.131 62.918 35.325 61.636 34.327 59.639 C 33.551 58.087 25.577 53.48 26.699 52.358 C 31.649 47.408 38.521 38.645 46.463 34.674 C 47.526 34.143 51.34 28.108 52.358 29.126 C 54.579 31.348 52.011 38.076 52.011 41.262 C 52.011 42.04 51.753 45.294 52.011 45.423 C 53.277 46.056 57.512 44.383 58.946 44.383 C 65.68 44.383 71.888 45.076 78.71 45.076 C 79.961 45.076 86.17 43.868 87.032 44.73 C 89.504 47.201 89.112 50.114 89.112 54.092 C 89.112 55.53 88.329 57.815 89.112 58.599 C 89.971 59.457 89.041 63.872 88.419 64.494 C 87.195 65.718 82.634 64.494 81.137 64.494" />
        <path d="M 250.347 69.348 C 249.527 62.789 248.613 56.644 248.613 49.931 C 248.613 48.237 249.332 43.021 248.266 41.956 C 247.933 41.622 248.148 35.714 247.92 35.714 C 244.491 35.714 236.778 35.066 233.703 38.141 C 233.03 38.815 230.893 38.415 230.583 37.795 C 229.974 36.578 232.441 34.078 233.01 32.94 C 235.623 27.714 239.372 22.644 242.025 17.337 C 243.649 14.088 244.848 9.982 246.879 6.935 C 247.39 6.17 248.988 3.828 249.653 4.161 C 252.116 5.392 252.914 8.565 255.895 10.055 C 261.948 13.082 266.251 18.135 270.111 23.925 C 272.093 26.898 276.684 27.709 278.086 30.513 C 278.353 31.046 280.661 32.1 280.513 32.247 C 279.576 33.184 270.736 34.293 269.417 33.634 C 268.516 33.183 265.015 32.488 264.563 32.94 C 263.83 33.673 264.91 39.09 264.91 40.569 C 264.91 44.881 263.756 52.477 265.603 56.172 C 266.112 57.189 265.095 58.969 265.603 59.986 C 266.942 62.663 268.287 68.745 266.297 70.735 C 265.18 71.852 263.119 70.533 262.136 70.042 C 260.083 69.015 252.688 67.7 251.387 69.001" />
        <path d="M 445.562 41.956 C 444.38 36.64 444.175 31.948 444.175 26.699 C 444.175 25.92 443.131 22.888 443.828 22.191 C 444.59 21.429 447.607 24.584 447.989 24.965 C 451.684 28.66 457.043 33.672 460.818 37.448 C 464.093 40.722 466.15 43.581 470.527 45.77 C 471.252 46.132 473.302 47.156 472.607 48.544 C 469.984 53.791 463.885 58.36 461.165 63.8 C 460.578 64.975 456.31 73.335 455.27 72.816 C 451.992 71.176 452.574 66.73 450.763 63.107 C 450.337 62.255 451.041 59.57 450.416 58.946 C 449.324 57.854 446.241 59.979 444.175 58.946 C 442.567 58.142 439.194 59.356 437.933 59.986 C 434.033 61.936 425.485 60.68 420.596 60.68 C 418.89 60.68 413.853 61.409 413.315 60.333 C 412.549 58.801 410.118 49.389 411.234 47.157 C 412.067 45.492 418.585 45.631 420.25 45.076 C 428.147 42.444 436.77 40.569 445.562 40.569" />
    </g>
    @if (Model.Path.Length == 0)
    {
        <a asp-page="Note">
            <g>
                <title>Note</title>
                <path d="M 200.298 368.424 C 197.54 374.86 192.668 379.869 188.791 385.685 C 185.036 391.317 181.9 397.347 179.101 402.945 C 177.669 405.809 175.003 407.205 173.65 409.91 C 173.43 410.351 171.604 412.406 172.136 412.938 C 173.091 413.893 177.163 412.938 178.495 412.938 C 182.967 412.938 188.608 413.871 193.03 414.755 C 199.146 415.978 205.631 415.966 211.805 415.966 C 213.875 415.966 217.306 416.547 219.073 415.664 C 220.45 414.975 222.326 416.611 223.615 415.966 C 226.473 414.537 228.215 409.823 229.974 407.185 C 234.625 400.209 237.362 393.922 240.875 386.896 C 241.394 385.859 239.589 383.717 239.059 382.657 C 237.283 379.106 234.158 372.911 231.488 370.241 C 230.055 368.808 226.545 370.192 224.826 369.333 C 223.275 368.557 218.415 368.904 216.953 369.635 C 215.792 370.216 210.71 369.845 209.685 369.333 C 207.167 368.074 200.754 369.333 197.875 369.333" />
                <path d="M 227.854 370.544 C 226.35 373.302 219.793 382.583 221.495 385.988 C 222.189 387.375 224.944 386.349 226.037 386.896 C 228.922 388.338 235.489 388.41 238.756 388.41" />
                <path d="M 187.882 405.368 C 193.762 397.137 196.021 401.823 203.023 404.157 C 206.225 405.224 210.824 401.243 213.622 402.643 C 215.617 403.64 218.297 406.106 219.678 407.488 C 220.007 407.816 221.074 406.276 221.495 406.276" />
                <path d="M 195.756 392.044 C 196.159 391.337 196.536 390.614 196.967 389.924 C 199.286 386.214 202.346 392.727 203.932 393.255 C 207.824 394.553 210.504 389.289 214.228 390.53 C 216.13 391.164 220.051 393.861 221.495 393.861" />
                <path d="M 201.206 379.023 C 203.07 379.023 209.458 378.001 210.897 378.72 C 212.847 379.695 213.963 381.01 216.044 382.051 C 217.293 382.675 220.336 380.84 221.798 380.84" />
            </g>
        </a>
    }
</svg>
}